openapi: 3.0.3
info:
  contact:
    email: engineering@blues.io
    name: Blues Engineering
    url: 'https://dev.blues.io/support/'
  description: |
    The OpenAPI definition for the Notehub.io API.
  title: Notehub API
  version: 1.2.0
servers:
  - description: Production server
    url: 'https://api.notefile.net'
paths:
  /auth/login:
    post:
      operationId: Login
      description: Gets an API key from username and password
      requestBody:
        required: true
        content:
          application/json:
            example:
              password: test-password
              username: name@example.com
            schema:
              type: object
              properties:
                password:
                  type: string
                username:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_token:
                    type: string
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - authorization
  /oauth2/token:
    post:
      operationId: OAuth2ClientCredentials
      summary: Issue an OAuth 2.0 access token (Client Credentials)
      description: |
        Exchanges client credentials for an access token. Parameters must be sent as application/x-www-form-urlencoded.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  format: uuid
                  example: d37ae69a-c739-44e9-9722-81a4cb7aeb67
                client_secret:
                  type: string
                  format: password
                  example: 2a40832d028a3e24a717f023fdcaa8ab452dd12223d472aff38223ffdfeee4bf
                grant_type:
                  type: string
                  example: client_credentials
                  enum:
                    - client_credentials
                scope:
                  description: Space-delimited scopes.
                  type: string
                  example: openid
              required:
                - grant_type
                - client_id
                - client_secret
      responses:
        '200':
          description: Successful token response
          content:
            application/json:
              example:
                access_token: 7VEVIiNVr_Q_eqjWpddz18qmYVWVgKHtlYsuoYzS7v0.3BUMglZCKBF1Swz0WLQQ9-DgSBtkroKbpXmF1sJ-NE0
                expires_in: 1800
                scope: openid
                token_type: bearer
              schema:
                $ref: '#/components/schemas/OAuth2TokenResponse'
        '400':
          description: Invalid request (missing or malformed parameters)
          content:
            application/json:
              example:
                error: invalid_request
                error_description: 'Missing parameter: client_id'
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        '401':
          description: Invalid client authentication
          content:
            application/json:
              example:
                error: invalid_client
                error_description: Client authentication failed
              schema:
                $ref: '#/components/schemas/OAuth2Error'
        '403':
          description: Unauthorized scope
          content:
            application/json:
              example:
                error: invalid_scope
                error_description: Requested scope is invalid
              schema:
                $ref: '#/components/schemas/OAuth2Error'
      tags:
        - authorization
  /v1/billing-accounts:
    get:
      operationId: GetBillingAccounts
      description: Get Billing Accounts accessible by the api_key
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingAccount'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - billing_account
  '/v1/products/{productUID}/devices/{deviceUID}/environment_variables_with_pin':
    get:
      operationId: GetDeviceEnvironmentVariablesByPin
      description: Get environment variables of a device with device pin authorization
      responses:
        '200':
          $ref: '#/components/responses/GetDeviceEnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/productUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
      - $ref: '#/components/parameters/XAuthTokenHeader'
    put:
      operationId: SetDeviceEnvironmentVariablesByPin
      description: Set environment variables of a device with device pin authorization
      requestBody:
        description: Environment variables to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      tags:
        - device
  '/v1/products/{productUID}/ext-devices/{deviceUID}/event':
    post:
      operationId: CreateEventExtDevice
      description: Creates an event using specified webhook
      parameters:
        - $ref: '#/components/parameters/productUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Event Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Event Created Successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - external devices
  '/v1/products/{productUID}/ext-devices/{deviceUID}/session/close':
    post:
      operationId: ExtDeviceSessionClose
      description: Closes the session for the specified device if open
      parameters:
        - $ref: '#/components/parameters/productUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Session Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSession'
      responses:
        '200':
          description: Session closed
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - external devices
  '/v1/products/{productUID}/ext-devices/{deviceUID}/session/open':
    post:
      operationId: ExtDeviceSessionOpen
      description: Create a Session for the specified device.  | If a session is currently open it will be closed and a new one opened.
      parameters:
        - $ref: '#/components/parameters/productUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Session Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSession'
      responses:
        '200':
          description: Session Created Successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - external devices
  '/v1/products/{productUID}/project':
    get:
      operationId: GetProjectByProduct
      description: Get a Project by ProductUID
      parameters:
        - name: productUID
          in: path
          required: true
          schema:
            type: string
          example: com.blues.airnote
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  /v1/projects:
    get:
      operationId: GetProjects
      description: Get Projects accessible by the api_key
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    post:
      operationId: CreateProject
      description: Create a Project
      requestBody:
        description: Project to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_account_uid:
                  description: |
                    The billing account UID for the project. The caller of the API must be able to create projects within the billing account, otherwise an error will be returned.
                  type: string
                label:
                  description: The label for the project.
                  type: string
              required:
                - label
                - billing_account_uid
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}':
    delete:
      operationId: DeleteProject
      description: Delete a Project by ProjectUID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    get:
      operationId: GetProject
      description: Get a Project by ProjectUID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/alerts':
    get:
      operationId: GetAlerts
      description: Get list of defined Alerts
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/monitorUIDQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - alert
  '/v1/projects/{projectOrProductUID}/clone':
    post:
      operationId: CloneProject
      description: Clone a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: Project to be cloned
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_account_uid:
                  description: 'The billing account UID for the project. The caller of the API must be able to create projects within the billing account, otherwise an error will be returned.'
                  type: string
                disable_clone_fleets:
                  description: Whether to disallow the cloning of the fleets from the parent project.  Default is false if not specified.
                  type: boolean
                disable_clone_routes:
                  description: Whether to disallow the cloning of the routes from the parent project.  Default is false if not specified.
                  type: boolean
                label:
                  description: The label for the project.
                  type: string
              required:
                - label
                - billing_account_uid
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices':
    get:
      operationId: GetDevices
      description: Get Devices of a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDsQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          $ref: '#/components/responses/DevicesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}':
    delete:
      operationId: DeleteDevice
      description: Delete Device
      responses:
        '204':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    get:
      operationId: GetDevice
      description: Get Device
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/dfu/{firmwareType}/history':
    get:
      operationId: GetDeviceDfuHistory
      description: Get device DFU history for host or Notecard firmware
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuHistory'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/dfu/{firmwareType}/status':
    get:
      operationId: GetDeviceDfuStatus
      description: Get device DFU history for host or Notecard firmware
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable':
    post:
      operationId: DisableDevice
      description: Disable Device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable-connectivity-assurance':
    post:
      operationId: DisableDeviceConnectivityAssurance
      description: Disable Connectivity Assurance
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable':
    post:
      operationId: EnableDevice
      description: Enable Device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable-connectivity-assurance':
    post:
      operationId: EnableDeviceConnectivityAssurance
      description: Enable Connectivity Assurance
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_hierarchy':
    get:
      operationId: GetDeviceEnvironmentHierarchy
      summary: Get environment variable hierarchy for a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successfully retrieved device environment hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
        '404':
          description: Project or device not found
        '500':
          description: Server error
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_variables':
    get:
      operationId: GetDeviceEnvironmentVariables
      description: Get environment variables of a device
      responses:
        '200':
          $ref: '#/components/responses/GetDeviceEnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
    put:
      operationId: SetDeviceEnvironmentVariables
      description: Set environment variables of a device
      requestBody:
        description: Environment variables to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_variables/{key}':
    delete:
      operationId: DeleteDeviceEnvironmentVariable
      description: Delete environment variable of a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - name: key
          in: path
          description: The environment variable key to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/files':
    delete:
      operationId: DeleteNotefiles
      description: Deletes Notefiles and the Notes they contain.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  description: Name of notefiles to delete
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    get:
      operationId: ListNotefiles
      description: Lists .qi and .db files for the device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - name: files
          in: query
          description: One or more files to obtain change information from.
          required: false
          schema:
            type: array
            items:
              type: string
        - name: pending
          in: query
          description: show only files that are pending sync to the Notecard
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: All notefiles and their notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotefileList'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/fleets':
    delete:
      operationId: DeleteDeviceFromFleets
      description: Remove Device from Fleets
      requestBody:
        description: |
          The fleets to remove from the device. Note that the endpoint takes an array of fleetUIDs, to facilitate multi-fleet devices. Multi-fleet is not yet enabled on all SaaS plans - unless it is supported by the SaaS plan of the project, passing more than a single fleetUID in the array is an error.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fleet_uids:
                  description: The fleetUIDs to remove from the device.
                  type: array
                  items:
                    type: string
              required:
                - fleet_uids
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    get:
      operationId: GetDeviceFleets
      description: Get Device Fleets
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
    put:
      operationId: AddDeviceToFleets
      description: Add Device to Fleets
      requestBody:
        description: |
          The fleets to add to the device. Note that the endpoint takes an array of fleetUIDs, to facilitate multi-fleet devices. Multi-fleet is not yet enabled on all SaaS plans - unless it is supported by the SaaS plan of the project, passing more than a single fleetUID in the array is an error.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fleet_uids:
                  description: The fleetUIDs to add to the device.
                  type: array
                  items:
                    type: string
              required:
                - fleet_uids
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/health-log':
    get:
      operationId: GetDeviceHealthLog
      description: Get Device Health Log
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - name: log_type
          in: query
          description: Return only specified log types
          required: false
          schema:
            type: array
            items:
              enum:
                - boot
                - dfu_completed
              type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  health_log:
                    type: array
                    items:
                      properties:
                        alert:
                          type: boolean
                        text:
                          type: string
                        when:
                          type: string
                          format: date-time
                      required:
                        - when
                        - alert
                        - text
                      type: object
                required:
                  - health_log
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/latest':
    get:
      operationId: GetDeviceLatestEvents
      description: Get Device Latest Events
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          $ref: '#/components/responses/LatestResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}':
    get:
      operationId: GetNotefile
      description: 'For .qi files, returns the queued up notes.  For .db files, returns all notes in the notefile'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - name: max
          in: query
          description: The maximum number of Notes to return in the request.
          required: false
          schema:
            type: integer
        - name: deleted
          in: query
          description: true to return deleted notes.
          required: false
          schema:
            type: boolean
        - name: delete
          in: query
          description: true to delete the notes returned by the request.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The note changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  changes:
                    description: The number of pending changes in the Notefile.
                    type: integer
                  notes:
                    description: An object with a key for each note and a value object with the body of each Note and the time the Note was added.
                    type: object
                  total:
                    description: The total number of notes.
                    type: integer
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    post:
      operationId: AddQiNote
      description: 'Adds a Note to a Notefile, creating the Notefile if it doesn''t yet exist.'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteInput'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}/{noteID}':
    delete:
      operationId: DeleteNote
      description: Delete a note from a .db or .qi notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    get:
      operationId: GetDbNote
      description: Get a note from a .db or .qi notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
        - name: delete
          in: query
          description: Whether to delete the note from the DB notefile
          required: false
          schema:
            type: boolean
        - name: deleted
          in: query
          description: Whether to return deleted notes
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The requested note
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    description: The note body
                    type: object
                  payload:
                    description: The note payload
                    type: string
                  time:
                    description: The time the Note was added to the Notecard or Notehub
                    type: integer
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    post:
      operationId: AddDbNote
      description: Add a Note to a .db notefile.  if noteID is '-' then payload is ignored and empty notefile is created
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteInput'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    put:
      operationId: UpdateDbNote
      description: Update a note in a .db or .qi notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteInput'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/plans':
    get:
      operationId: GetDevicePlans
      description: 'Get Data Plans associated with the device, this include the primary sim, any external sim, as well as any satellite connections.'
      responses:
        '200':
          $ref: '#/components/responses/DevicePlansResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/provision':
    post:
      operationId: ProvisionDevice
      description: Provision Device for a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Provision a device to a specific ProductUID
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_sn:
                  description: The serial number to assign to the device.
                  type: string
                fleet_uids:
                  description: The fleetUIDs to provision the device to.
                  type: array
                  items:
                    type: string
                  nullable: true
                product_uid:
                  description: The ProductUID that the device should use.
                  type: string
              required:
                - product_uid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                default: {}
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/public-key':
    get:
      operationId: GetDevicePublicKey
      description: Get Device Public Key
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  uid:
                    type: string
                required:
                  - uid
                  - key
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/sessions':
    get:
      operationId: GetDeviceSessions
      description: Get Device Sessions
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          $ref: '#/components/responses/SessionResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/signal':
    post:
      operationId: SignalDevice
      description: Send a signal from Notehub to a Notecard.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Body or payload of signal to be sent to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: A status response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    description: true if the Notecard is connected to Notehub.
                    type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/public-keys':
    get:
      operationId: GetDevicePublicKeys
      description: Get Device Public Keys of a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_public_keys:
                    type: array
                    items:
                      properties:
                        key:
                          type: string
                        uid:
                          type: string
                      type: object
                  has_more:
                    type: boolean
                required:
                  - device_public_keys
                  - has_more
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/{action}':
    post:
      operationId: PerformDfuAction
      description: Update/cancel host or notecard firmware updates
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - $ref: '#/components/parameters/dfuActionParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      requestBody:
        description: Which firmware in the case of an update action
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DfuActionRequest'
      responses:
        '200':
          description: Success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/history':
    get:
      operationId: GetDevicesDfuHistory
      description: Get host or Notecard DFU history for all devices that match the filter criteria
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuHistoryPage'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/status':
    get:
      operationId: GetDevicesDfuStatus
      description: Get host or Notecard DFU history for all devices that match the filter criteria
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuStatusPage'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/environment_hierarchy':
    get:
      operationId: GetProjectEnvironmentHierarchy
      summary: Get environment variable hierarchy for a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successfully retrieved project environment hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
        '404':
          description: Project or device not found
        '500':
          description: Server error
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/environment_variables':
    get:
      operationId: GetProjectEnvironmentVariables
      description: Get environment variables of a project
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
    put:
      operationId: SetProjectEnvironmentVariables
      description: Set environment variables of a project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/environment_variables/{key}':
    delete:
      operationId: DeleteProjectEnvironmentVariable
      description: Delete an environment variable of a project by key
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - name: key
          in: path
          description: The environment variable key to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/events':
    get:
      operationId: GetEvents
      description: Get Events of a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/dateTypeParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/serialNumberFilterParam'
        - $ref: '#/components/parameters/fleetUIDFilterQueryParam'
        - $ref: '#/components/parameters/sessionUIDFilterParam'
        - $ref: '#/components/parameters/eventUIDFilterQueryParam'
        - $ref: '#/components/parameters/selectFieldsParam'
        - name: deviceUIDs
          in: query
          description: Deprecated.
          required: false
          schema:
            type: array
            items:
              type: string
          deprecated: true
        - name: since
          in: query
          description: Deprecated.
          required: false
          schema:
            type: string
          deprecated: true
      responses:
        '200':
          $ref: '#/components/responses/EventsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/events-cursor':
    get:
      operationId: GetEventsByCursor
      description: Get Events of a Project by cursor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
      responses:
        '200':
          $ref: '#/components/responses/EventsByCursorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/events/{eventUID}/route-logs':
    get:
      operationId: GetRouteLogsByEvent
      description: Get Route Logs by Event UID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/eventUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RouteLog'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/firmware':
    get:
      operationId: GetFirmwareInfo
      description: Get Available Firmware Information
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/productQueryParam'
        - $ref: '#/components/parameters/firmwareTypeQueryParam'
        - $ref: '#/components/parameters/versionQueryParam'
        - $ref: '#/components/parameters/targetQueryParam'
        - $ref: '#/components/parameters/filenameQueryParam'
        - $ref: '#/components/parameters/md5QueryParam'
        - $ref: '#/components/parameters/unpublishedQueryParam'
        - $ref: '#/components/parameters/firmwareSortByParam'
        - $ref: '#/components/parameters/firmwareSortOrderParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FirmwareInfo'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/firmware/{firmwareType}/{filename}':
    put:
      operationId: UploadFirmware
      description: Upload firmware binary
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - name: filename
          in: path
          required: true
          schema:
            type: string
        - name: version
          in: query
          description: 'Firmware version (optional). If not provided, the version will be extracted from firmware binary if available, otherwise left empty'
          required: false
          schema:
            type: string
        - name: notes
          in: query
          description: Optional notes describing what's different about this firmware version
          required: false
          schema:
            type: string
      requestBody:
        description: contents of the firmware binary
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareInfo'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets':
    get:
      operationId: GetFleets
      description: Get Project Fleets
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
    post:
      operationId: CreateFleet
      description: Create Fleet
      requestBody:
        description: Fleet to be added
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                connectivity_assurance:
                  $ref: '#/components/schemas/FleetConnectivityAssurance'
                label:
                  description: 'The label, or name,  for the Fleet.'
                  type: string
                smart_rule:
                  $ref: '#/components/schemas/FleetRule'
                smart_rule_enabled:
                  type: boolean
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}':
    delete:
      operationId: DeleteFleet
      description: Delete Fleet
      responses:
        '204':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    get:
      operationId: GetFleet
      description: Get Fleet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/fleetUIDParam'
    put:
      operationId: UpdateFleet
      description: Update Fleet
      requestBody:
        description: Fleet details to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addDevices:
                  description: List of DeviceUIDs to add to fleet
                  type: array
                  items:
                    type: string
                connectivity_assurance:
                  $ref: '#/components/schemas/FleetConnectivityAssurance'
                label:
                  description: The label for the Fleet.
                  type: string
                removeDevices:
                  description: List of DeviceUIDs to remove from fleet
                  type: array
                  items:
                    type: string
                smart_rule:
                  $ref: '#/components/schemas/FleetRule'
                smart_rule_enabled:
                  type: boolean
                watchdog_mins:
                  description: A watchdog timer is used to generate an event every N minutes of inactivity. 0 means no watchdog
                  type: integer
                  format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/devices':
    get:
      operationId: GetFleetDevices
      description: Get Devices of a Fleet within a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          $ref: '#/components/responses/DevicesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_hierarchy':
    get:
      operationId: GetFleetEnvironmentHierarchy
      summary: Get environment variable hierarchy for a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
      responses:
        '200':
          description: Successfully retrieved fleet environment hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
        '404':
          description: Project or device not found
        '500':
          description: Server error
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_variables':
    get:
      operationId: GetFleetEnvironmentVariables
      description: Get environment variables of a fleet
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/fleetUIDParam'
    put:
      operationId: SetFleetEnvironmentVariables
      description: Set environment variables of a fleet
      requestBody:
        description: Environment variables to be added to the fleet
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_variables/{key}':
    delete:
      operationId: DeleteFleetEnvironmentVariable
      description: Delete environment variables of a fleet
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - name: key
          in: path
          description: The environment variable key to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events':
    get:
      operationId: GetFleetEvents
      description: Get Events of a Fleet
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/dateTypeParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/serialNumberFilterParam'
        - $ref: '#/components/parameters/sessionUIDFilterParam'
        - $ref: '#/components/parameters/eventUIDFilterQueryParam'
        - $ref: '#/components/parameters/selectFieldsParam'
        - name: deviceUIDs
          in: query
          description: Deprecated.
          required: false
          schema:
            type: array
            items:
              type: string
          deprecated: true
        - name: since
          in: query
          description: Deprecated.
          required: false
          schema:
            type: string
          deprecated: true
      responses:
        '200':
          $ref: '#/components/responses/EventsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events-cursor':
    get:
      operationId: GetFleetEventsByCursor
      description: Get Events of a Fleet by cursor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          $ref: '#/components/responses/EventsByCursorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/global-transformation':
    post:
      operationId: SetGlobalEventTransformation
      description: Set the project-level event JSONata transformation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: JSONata expression which will be applied to each event before it is persisted and routed
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONata'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/global-transformation/disable':
    post:
      operationId: DisableGlobalEventTransformation
      description: Disable the project-level event JSONata transformation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/global-transformation/enable':
    post:
      operationId: EnableGlobalEventTransformation
      description: Enable the project-level event JSONata transformation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/members':
    get:
      operationId: GetProjectMembers
      description: Get Project Members
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectMember'
                required:
                  - members
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
  '/v1/projects/{projectOrProductUID}/monitors':
    get:
      operationId: GetMonitors
      description: Get list of defined Monitors
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          $ref: '#/components/responses/MonitorsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - monitor
    post:
      operationId: CreateMonitor
      description: Create a new Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: Body or payload of monitor to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMonitor'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - monitor
  '/v1/projects/{projectOrProductUID}/monitors/{monitorUID}':
    delete:
      operationId: DeleteMonitor
      description: Delete Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/monitorUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - monitor
    get:
      operationId: GetMonitor
      description: Get Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/monitorUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - monitor
    put:
      operationId: UpdateMonitor
      description: Update Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/monitorUIDParam'
      requestBody:
        description: Body or payload of monitor to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Monitor'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - monitor
  '/v1/projects/{projectOrProductUID}/products':
    get:
      operationId: GetProducts
      description: Get Products within a Project
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
    post:
      operationId: CreateProduct
      description: Create Product within a Project
      requestBody:
        description: Product to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_provision_fleets:
                  type: array
                  items:
                    type: string
                disable_devices_by_default:
                  description: 'If `true`, devices provisioned to this product will be automatically disabled by default.'
                  type: boolean
                label:
                  description: The label for the Product.
                  type: string
                product_uid:
                  description: The requested uid for the Product. Will be prefixed with the user's reversed email.
                  type: string
              required:
                - product_uid
                - label
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/products/{productUID}':
    delete:
      operationId: DeleteProduct
      description: Delete a product
      responses:
        '204':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/productUIDParam'
  '/v1/projects/{projectOrProductUID}/routes':
    get:
      operationId: GetRoutes
      description: Get all Routes within a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                - disabled: false
                  label: success route
                  modified: '2020-03-09T17:58:37Z'
                  type: http
                  uid: 'route:8d65a087d5d290ce5bdf03aeff2becc0'
                - disabled: false
                  label: failing route
                  modified: '2020-03-09T17:59:15Z'
                  type: http
                  uid: 'route:a9eaad31d5cee8d01a42762f71fb777a'
                - disabled: true
                  label: disabled route
                  modified: '2020-03-09T17:59:44Z'
                  type: http
                  uid: 'route:02ddc0e6e236c2a7e482da62047229ad'
                - disabled: false
                  label: Proxy Route
                  modified: '2020-03-09T17:58:36Z'
                  type: proxy
                  uid: 'route:0ac565deb7b478a250bb82348b9cfdd4'
                - disabled: false
                  label: Myjsonlive Webtest
                  modified: '2020-03-09T17:58:35Z'
                  type: proxy
                  uid: 'route:fb1b9e0aba1bf030311ba2c3c1e3efd7'
                - disabled: false
                  label: Myjsonlive Echo
                  modified: '2020-03-09T17:58:34Z'
                  type: proxy
                  uid: 'route:7804818f84a3be6193e14d804fe7fca7'
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotehubRouteSummary'
                minItems: 0
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - route
    post:
      operationId: CreateRoute
      description: Create Route within a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: Route to be created
        required: true
        content:
          application/json:
            examples:
              http:
                summary: HTTP route
                value:
                  http:
                    disable_http_headers: false
                    filter: {}
                    fleets:
                      - 'fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d'
                    http_headers:
                      X-My-Header: value
                    throttle_ms: 100
                    timeout: 5000
                    transform: {}
                    url: 'https://example.com/ingest'
                  label: Route Label
            schema:
              $ref: '#/components/schemas/NotehubRoute'
      responses:
        '201':
          description: Created
          content:
            application/json:
              example:
                disabled: 'false'
                http:
                  disable_http_headers: false
                  filter:
                    system_notefiles: false
                    type: ''
                  fleets:
                    - 'fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d'
                  http_headers: null
                  throttle_ms: 100
                  timeout: 0
                  transform: {}
                  url: 'http://route.url'
                label: Route Label
                modified: '2020-03-09T17:59:44Z'
                type: http
                uid: 'route:8d65a087d5d290ce5bdf03aeff2becc0'
              schema:
                $ref: '#/components/schemas/NotehubRoute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - route
  '/v1/projects/{projectOrProductUID}/routes/{routeUID}':
    delete:
      operationId: DeleteRoute
      description: Delete single route within a project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
      responses:
        '204':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - route
    get:
      operationId: GetRoute
      description: Get single route within a project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                disabled: 'false'
                http:
                  disable_http_headers: false
                  filter:
                    system_notefiles: false
                    type: ''
                  fleets:
                    - 'fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d'
                  http_headers: null
                  throttle_ms: 100
                  timeout: 0
                  transform: {}
                  url: 'http://route.url'
                label: Route Label
                modified: '2020-03-09T17:59:44Z'
                type: http
                uid: 'route:8d65a087d5d290ce5bdf03aeff2becc0'
              schema:
                $ref: '#/components/schemas/NotehubRoute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - route
    put:
      operationId: UpdateRoute
      description: Update route by UID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
      requestBody:
        description: Route settings to be updated
        required: true
        content:
          application/json:
            example: |
              {
                "http" {
                  "filter": {
                    "type": "include",
                    "system_notefiles": true,
                    "files": ["somefile.qo"],
                  },
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                },
              }
            schema:
              $ref: '#/components/schemas/NotehubRoute'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example: |
                {
                  "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                  "label": "Route Label",
                  "type": "http",
                  "modified": "2020-03-09T17:59:44Z",
                  "disabled": "false",
                  "http":
                    {
                    "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                    "filter": {
                      "type": "include",
                      "system_notefiles": true,
                      "files": ["somefile.qo"],
                    },
                  "transform": {},
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                  "http_headers": null,
                  "disable_http_headers": false,
                  "timeout": 0
                }
              schema:
                $ref: '#/components/schemas/NotehubRoute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - route
  '/v1/projects/{projectOrProductUID}/routes/{routeUID}/route-logs':
    get:
      operationId: GetRouteLogsByRoute
      description: Get Route Logs by Route UID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/routeLogsSortByParam'
        - $ref: '#/components/parameters/routeLogsSortOrderParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/mostRecentOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/routingStatusParam'
        - $ref: '#/components/parameters/responseStatusParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RouteLog'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - route
  '/v1/projects/{projectOrProductUID}/schemas':
    get:
      operationId: GetNotefileSchemas
      summary: Get variable format for a notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: List of notefile schema definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotefileSchema'
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/usage/data':
    get:
      operationId: GetDataUsage
      description: Get data usage in bytes for a project with time range and period aggregation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/fleetUIDFilterQueryParam'
        - name: period
          in: query
          description: Period type for aggregation
          required: true
          schema:
            type: string
            enum:
              - day
              - week
              - month
        - name: aggregate
          in: query
          description: Aggregation level for results
          required: false
          schema:
            type: string
            default: device
            enum:
              - device
              - fleet
              - project
      responses:
        '200':
          $ref: '#/components/responses/UsageDataResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - usage
  '/v1/projects/{projectOrProductUID}/usage/events':
    get:
      operationId: GetEventsUsage
      description: 'Get events usage for a project with time range and period aggregation, when endDate is 0 or unspecified the current time is implied'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/fleetUIDFilterQueryParam'
        - name: period
          in: query
          description: Period type for aggregation
          required: true
          schema:
            type: string
            enum:
              - day
              - week
              - month
        - name: aggregate
          in: query
          description: Aggregation level for results
          required: false
          schema:
            type: string
            default: device
            enum:
              - device
              - fleet
              - project
        - name: notefile
          in: query
          description: Filter to specific notefiles
          required: false
          schema:
            type: array
            items:
              type: string
          explode: true
          style: form
        - name: skipRecentData
          in: query
          description: 'When true, skips fetching recent data from raw event tables and only returns data from summary tables. Use this for better performance on large projects.'
          required: false
          schema:
            type: boolean
            default: false
        - name: includeNotefiles
          in: query
          description: Include per-notefile event counts in the response
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageEventsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - usage
  '/v1/projects/{projectOrProductUID}/usage/route-logs':
    get:
      operationId: GetRouteLogsUsage
      description: 'Get route logs usage for a project with time range and period aggregation, when endDate is 0 or unspecified the current time is implied'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/routeUIDParamQuery'
        - name: period
          in: query
          description: Period type for aggregation
          required: true
          schema:
            type: string
            enum:
              - day
              - week
              - month
        - name: aggregate
          in: query
          description: Aggregation level for results
          required: false
          schema:
            type: string
            default: route
            enum:
              - route
              - project
        - name: skipRecentData
          in: query
          description: 'When true, skips fetching recent data from raw event tables and only returns data from summary tables. Use this for better performance on large projects.'
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          $ref: '#/components/responses/UsageRouteLogsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - usage
  '/v1/projects/{projectOrProductUID}/usage/sessions':
    get:
      operationId: GetSessionsUsage
      description: 'Get sessions usage for a project with time range and period aggregation, when endDate is 0 or unspecified the current time is implied'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/fleetUIDFilterQueryParam'
        - name: period
          in: query
          description: Period type for aggregation
          required: true
          schema:
            type: string
            enum:
              - day
              - week
              - month
        - name: aggregate
          in: query
          description: Aggregation level for results
          required: false
          schema:
            type: string
            default: device
            enum:
              - device
              - fleet
              - project
        - name: skipRecentData
          in: query
          description: 'When true, skips fetching recent data from raw event tables and only returns data from summary tables. Use this for better performance on large projects.'
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          $ref: '#/components/responses/UsageSessionsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - usage
  '/v1/projects/{projectOrProductUID}/webhooks':
    get:
      operationId: GetWebhooks
      description: Retrieves all webhooks for the specified project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - webhook
  '/v1/projects/{projectOrProductUID}/webhooks/{webhookUID}':
    delete:
      operationId: DeleteWebhook
      description: Deletes the specified webhook
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      responses:
        '200':
          description: Webhook deleted successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - webhook
    get:
      operationId: GetWebhook
      description: Retrieves the configuration settings for the specified webhook
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      responses:
        '200':
          description: Webhook settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - webhook
    post:
      operationId: CreateWebhook
      description: Creates a webhook for the specified product with the given name. The name | must be unique within the project.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      requestBody:
        required: true
        content:
          application/json:
            example:
              settings:
                disabled: false
                id: Abc_123-2646f411-dc56-44a0-9743-4130f47a74h8
                transform: '{"device":body.end_device_ids.dev_eui,"sn":body.end_device_ids.device_id,"body":body.uplink_message.decoded_payload,"details":body}'
            schema:
              $ref: '#/components/schemas/WebhookSettings'
      responses:
        '200':
          description: Webhook created successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - webhook
    put:
      operationId: UpdateWebhook
      description: Updates the configuration settings for the specified webhook. | Webhook will be created if it does not exist. Update body will completely replace the existing settings.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      requestBody:
        required: true
        content:
          application/json:
            example:
              disabled: false
              transform: '{"device":body.end_device_ids.dev_eui,"sn":body.end_device_ids.device_id,"body":body.uplink_message.decoded_payload,"details":body}'
            schema:
              $ref: '#/components/schemas/WebhookSettings'
      responses:
        '200':
          description: Webhook updated successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - personalAccessToken: []
      tags:
        - webhook
components:
  parameters:
    cursorParam:
      description: |
        A cursor, which can be obtained from the `next_cursor` value from a previous call to this endpoint. The results set returned will include this event as its first result if the given identifier is actually the UID of an event. If this event UID is not found, the parameter is ignored and the results set is the same as if the parameter was not included.
      in: query
      name: cursor
      required: false
      schema:
        type: string
    datasetAggregateWindowQueryParam:
      description: 'Aggregate results into buckets for a time duration, expressed in Postgres INTERVAL format'
      in: query
      name: aggregate_window
      required: false
      schema:
        type: string
    datasetDistinctQueryParam:
      description: Return only distinct results
      in: query
      name: distinct
      required: false
      schema:
        type: boolean
    datasetEndQueryParam:
      description: 'End of the time range, as an ISO-8601 date or relative to now. If omitted, current time is used.'
      in: query
      name: end
      required: false
      schema:
        type: string
    datasetLimitQueryParam:
      description: Limit the number of results returned
      in: query
      name: limit
      required: false
      schema:
        type: integer
    datasetLocationNearQueryParam:
      description: 'Latitude and Longitude for location-based filtering, location_near_radius must also be provided'
      in: query
      name: location_near
      required: false
      schema:
        type: string
        example: '42.393125,-71.185015'
    datasetLocationRadiusQueryParam:
      description: 'Distance from location_near in meters, location_near must also be provided'
      in: query
      name: location_near_radius
      required: false
      schema:
        type: integer
    datasetNameParam:
      description: The name of the data set
      in: path
      name: name
      required: true
      schema:
        type: string
    datasetOrderByQueryParam:
      description: Order the results by a field
      in: query
      name: order_by
      required: false
      schema:
        type: string
    datasetSelectQueryParam:
      description: 'Comma separated list of fields to include. Supports aggregate functions (avg, sum, min, max, count, most_recent).'
      in: query
      name: select
      required: false
      schema:
        type: string
    datasetStartQueryParam:
      description: 'Start of the time range, as an ISO-8601 date or relative to now (e.g. -1y). Relative dates follow the Postgres INTERVAL format.'
      in: query
      name: start
      required: true
      schema:
        type: string
    datasetWhereQueryParam:
      description: 'Additional filters using boolean logic mini-language (e.g. and.(device.eq.dev:123,temp.gt.100))'
      in: query
      name: where
      required: false
      schema:
        type: string
    dateTypeParam:
      description: 'Which date to filter on, either ''captured'' or ''uploaded''.  This will apply to the startDate and endDate parameters'
      example: uploaded
      in: query
      name: dateType
      required: false
      schema:
        type: string
        default: captured
        enum:
          - captured
          - uploaded
    deviceTagsParam:
      in: query
      name: deviceTags
      required: false
      schema:
        type: array
        items:
          type: string
    deviceUIDParam:
      example: 'dev:000000000000000'
      in: path
      name: deviceUID
      required: true
      schema:
        type: string
    deviceUIDParamQuery:
      description: A Device UID.
      explode: true
      in: query
      name: deviceUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    deviceUIDsParamQuery:
      description: An array of Device UIDs.
      in: query
      name: deviceUIDs
      required: false
      schema:
        type: array
        items:
          type: string
    dfuActionParam:
      in: path
      name: action
      required: true
      schema:
        type: string
        enum:
          - update
          - cancel
    endDateParam:
      description: 'End date for filtering results, specified as a Unix timestamp'
      example: 1657894210
      in: query
      name: endDate
      required: false
      schema:
        type: integer
        minimum: 0
    eventUIDFilterQueryParam:
      description: Filter by Event UID
      explode: true
      in: query
      name: eventUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    eventUIDParam:
      example: 4506f411-dea6-44a0-9743-1130f57d7747
      in: path
      name: eventUID
      required: true
      schema:
        type: string
    filenameQueryParam:
      example: notecard-7.2.2.16518$20240410043100.bin
      in: query
      name: filename
      required: false
      schema:
        type: string
    filesQueryParam:
      example: '_health.qo, data.qo'
      in: query
      name: files
      required: false
      schema:
        type: string
    firmwareSortByParam:
      description: Field to sort by
      in: query
      name: sortBy
      required: false
      schema:
        type: string
        default: created
        enum:
          - created
          - name
          - version
          - length
    firmwareSortOrderParam:
      description: 'Sort order (asc for ascending, desc for descending)'
      in: query
      name: sortOrder
      required: false
      schema:
        type: string
        default: desc
        enum:
          - asc
          - desc
    firmwareTypeParam:
      in: path
      name: firmwareType
      required: true
      schema:
        type: string
        enum:
          - host
          - notecard
    firmwareTypeQueryParam:
      in: query
      name: firmwareType
      required: false
      schema:
        type: string
    fleetUIDFilterQueryParam:
      description: Filter by Fleet UID
      explode: true
      in: query
      name: fleetUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    fleetUIDParam:
      in: path
      name: fleetUID
      required: true
      schema:
        type: string
    fleetUIDQueryParam:
      in: query
      name: fleetUID
      required: false
      schema:
        type: string
    fleetUIDsParam:
      in: query
      name: fleetUIDs
      required: false
      schema:
[...]
