---
openapi: "3.0.3"

info:
  title: Notehub API
  version: 1.2.0
  description: |
    The OpenAPI definition for the Notehub.io API.
  contact:
    name: Blues Engineering
    email: engineering@blues.io
    url: https://dev.blues.io/support/
    # TODO
    # license:
    # termsOfService: https://notehub.io/subscription-agreement (?)

externalDocs:
  description: Find out more about Blues
  url: https://blues.io

servers:
  - url: https://api.notefile.net
    description: Production server

tags:
  - name: authorization
    description: Authorization operations
  - name: project
    description: Project operations
  - name: event
    description: Event retrieval operations
  - name: device
    description: Device operations
  - name: billing_account
    description: Billing Account operations
  - name: monitors
    description: Management of monitors
  - name: route
    description: Route operations

paths:
  /auth/login:
    post:
      tags: ["authorization"]
      operationId: login
      description: Gets a session token from the API from a username and
        password.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
            example:
              username: name@example.com
              password: test-password
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_token:
                    type: string
        "400":
          description: Bad Request
        # NOTE: We're already within `post`, so 405 should not occur here.
        "500":
          description: Internal Server Error

  /v1/projects/{projectUID}/routes:
    get:
      tags: ["route"]
      operationId: getRoutes
      description: Get all Routes within a Project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserDbRoute"
                minItems: 0
              example:
                [
                  {
                    "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                    "label": "success route",
                    "type": "http",
                    "modified": "2020-03-09T17:58:37Z",
                    "disabled": false,
                  },
                  {
                    "uid": "route:a9eaad31d5cee8d01a42762f71fb777a",
                    "label": "failing route",
                    "type": "http",
                    "modified": "2020-03-09T17:59:15Z",
                    "disabled": false,
                  },
                  {
                    "uid": "route:02ddc0e6e236c2a7e482da62047229ad",
                    "label": "disabled route",
                    "type": "http",
                    "modified": "2020-03-09T17:59:44Z",
                    "disabled": true,
                  },
                  {
                    "uid": "route:0ac565deb7b478a250bb82348b9cfdd4",
                    "label": "Proxy Route",
                    "type": "proxy",
                    "modified": "2020-03-09T17:58:36Z",
                    "disabled": false,
                  },
                  {
                    "uid": "route:fb1b9e0aba1bf030311ba2c3c1e3efd7",
                    "label": "Myjsonlive Webtest",
                    "type": "proxy",
                    "modified": "2020-03-09T17:58:35Z",
                    "disabled": false,
                  },
                  {
                    "uid": "route:7804818f84a3be6193e14d804fe7fca7",
                    "label": "Myjsonlive Echo",
                    "type": "proxy",
                    "modified": "2020-03-09T17:58:34Z",
                    "disabled": false,
                  },
                ]
        default:
          $ref: "#/components/responses/ErrorResponse"
    post:
      tags: ["route"]
      operationId: createRoute
      description: Create Route within a Project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      requestBody:
        description: Route to be Created
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotehubRoute"
            example: >
              {
                "label": "Route Label",
                "type":"http",
                "http": {
                  "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                  "throttle_ms": 100,
                  "url": "http://route.url"
                }
              }
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotehubRoute"
              example:
                {
                  "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                  "label": "Route Label",
                  "type": "http",
                  "modified": "2020-03-09T17:59:44Z",
                  "disabled": "false",
                  "http":
                    {
                      "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                      "filter": { "type": "", "system_notefiles": false },
                      "transform": {},
                      "throttle_ms": 100,
                      "url": "http://route.url",
                      "http_headers": null,
                      "disable_http_headers": false,
                      "timeout": 0,
                    },
                }
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/routes/{routeUID}:
    get:
      tags: ["route"]
      operationId: getRoute
      description: Get single route within a project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/routeUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotehubRoute"
              example:
                {
                  "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                  "label": "Route Label",
                  "type": "http",
                  "modified": "2020-03-09T17:59:44Z",
                  "disabled": "false",
                  "http":
                    {
                      "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                      "filter": { "type": "", "system_notefiles": false },
                      "transform": {},
                      "throttle_ms": 100,
                      "url": "http://route.url",
                      "http_headers": null,
                      "disable_http_headers": false,
                      "timeout": 0,
                    },
                }
        default:
          $ref: "#/components/responses/ErrorResponse"
    put:
      tags: ["route"]
      operationId: updateRoute
      description: Update route by UID
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/routeUIDParam"
      requestBody:
        description: Route settings to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NotehubRoute"
            example: >
              {
                "http" {
                  "filter": {
                    "type": "include",
                    "system_notefiles": true,
                    "files": ["somefile.qo"],
                  },
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                },
              }

      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotehubRoute"
              example: >
                {
                  "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                  "label": "Route Label",
                  "type": "http",
                  "modified": "2020-03-09T17:59:44Z",
                  "disabled": "false",
                  "http":
                    {
                    "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                    "filter": {
                      "type": "include",
                      "system_notefiles": true,
                      "files": ["somefile.qo"],
                    },
                  "transform": {},
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                  "http_headers": null,
                  "disable_http_headers": false,
                  "timeout": 0
                }

        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: ["route"]
      operationId: deleteRoute
      description: Delete single route within a project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/routeUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                default: {}
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/routes/{routeUID}/route-logs:
    get:
      tags: ["route"]
      operationId: getRouteLogsByRoute
      description: Get Route Logs by Route UID
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/routeUIDParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/sortByParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/startDateParam"
        - $ref: "#/components/parameters/endDateParam"
        - $ref: "#/components/parameters/systemFilesOnlyParam"
        - $ref: "#/components/parameters/filesQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/RouteLogsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/products/{productUID}/project:
    get:
      tags: ["project"]
      operationId: getProjectByProduct
      description: Get a Project by ProductUID
      security:
        - api_key: []
      parameters:
        - name: productUID
          in: path
          required: true
          schema:
            type: string
          example: com.blues.airnote
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/billing-accounts:
    get:
      tags: ["billing_account"]
      operationId: getBillingAccounts
      description: Get Billing Accounts accessible by the api_key
      security:
        - api_key: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/BillingAccount"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects:
    get:
      tags: ["project"]
      operationId: getProjects
      description: Get Projects accessible by the api_key
      security:
        - api_key: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ErrorResponse"

    post:
      tags: ["project"]
      operationId: createProject
      description: Create a Project
      security:
        - api_key: []
      requestBody:
        description: Project to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: The label for the project.
                billing_account_uid:
                  type: string
                  description: >
                    The billing account UID for the project.
                    The caller of the API must be able to create projects
                    within the billing account, otherwise an error will be
                    returned.
              required:
                - label
                - billing_account_uid
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/clone:
    post:
      tags: ["project"]
      operationId: cloneProject
      description: Clone a Project
      security:
        - api_key: []
      parameters:
        - name: projectUID
          in: path
          required: true
          schema:
            type: string
          description: The project UID to be cloned.
      requestBody:
        description: Project to be cloned
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: The label for the project.
                billing_account_uid:
                  type: string
                  description: The billing account UID for the project.
                    The caller of the API must be able to create projects
                    within the billing account, otherwise an error will be
                    returned.
                disable_clone_routes:
                  type: boolean
                  description: Whether to disallow the cloning of the routes from the parent project.  Default is false if not specified.
                disable_clone_fleets:
                  type: boolean
                  description: Whether to disallow the cloning of the fleets from the parent project.  Default is false if not specified.
              required:
                - label
                - billing_account_uid
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}:
    get:
      tags: ["project"]
      operationId: getProject
      description: Get a Project by ProjectUID
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: ["project"]
      operationId: deleteProject
      description: Delete a Project by ProjectUID
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/products:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"

    get:
      tags: ["project"]
      operationId: getProjectProducts
      description: Get Products within a Project
      security:
        - api_key: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
        default:
          $ref: "#/components/responses/ErrorResponse"

    post:
      tags: ["project"]
      operationId: createProduct
      description: Create Product within a Project
      security:
        - api_key: []
      requestBody:
        description: Product to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_uid:
                  type: string
                  description: The requested uid for the Product. Will be
                    prefixed with the user's reversed email.
                label:
                  type: string
                  description: The label for the Product.
                auto_provision_fleets:
                  type: array
                  items:
                    type: string
                disable_devices_by_default:
                  type: boolean
                  description: If `true`, devices provisioned to this product
                    will be automatically disabled by default.
              required:
                - product_uid
                - label
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/fleets:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"

    get:
      tags: ["project"]
      operationId: getProjectFleets
      description: Get Project Fleets
      security:
        - api_key: []
      responses:
        "200":
          $ref: "#/components/responses/FleetsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

    post:
      tags: ["project"]
      operationId: createFleet
      description: Create Fleet
      security:
        - api_key: []
      requestBody:
        description: Fleet to be added
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: The label, or name,  for the Fleet.
                smart_rule:
                  $ref: "#/components/schemas/FleetRule"


      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fleet"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/fleets/{fleetUID}:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"
      - $ref: "#/components/parameters/fleetUIDParam"

    put:
      tags: ["project"]
      operationId: updateFleet
      description: Update Fleet
      security:
        - api_key: []
      requestBody:
        description: Fleet details to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: The label for the Fleet.
                addDevices:
                  type: array
                  items:
                    type: string
                  description: List of DeviceUIDs to add to fleet
                removeDevices:
                  type: array
                  items:
                    type: string
                  description: List of DeviceUIDs to remove from fleet
                smart_rule:
                  $ref: "#/components/schemas/FleetRule"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fleet"
        default:
          $ref: "#/components/responses/ErrorResponse"

    delete:
      tags: ["project"]
      operationId: deleteFleet
      description: Delete Fleet
      security:
        - api_key: []
      responses:
        "204":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

    get:
      tags: [ "project" ]
      operationId: getFleet
      description: Get Fleet
      security:
        - api_key: [ ]
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fleet"

  /v1/projects/{projectUID}/members:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"

    get:
      tags: ["project"]
      operationId: getProjectMembers
      description: Get Project Members
      security:
        - api_key: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: "#/components/schemas/ProjectMember"
                required:
                  - members
        default:
          $ref: "#/components/responses/ErrorResponse"

  # devices endpoints
  /v1/projects/{projectUID}/devices:
    get:
      tags: ["device"]
      operationId: getProjectDevices
      description: Get Devices of a Project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/tagParam"
        - $ref: "#/components/parameters/serialNumberParam"
        - $ref: "#/components/parameters/fleetUIDsQueryParam"
        - $ref: "#/components/parameters/notecardFirmwareParam"
        - $ref: "#/components/parameters/locationParam"
        - $ref: "#/components/parameters/hostFirmwareParam"
        - $ref: "#/components/parameters/productUIDQueryParam"
        - $ref: "#/components/parameters/skuParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
                  has_more:
                    type: boolean
                required:
                  - devices
                  - has_more
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/provision:
    post:
      tags: ["device"]
      operationId: postProvisionProjectDevice
      description: Provision Device for a Project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      requestBody:
        description: Provision a device to a specific ProductUID
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_uid:
                  type: string
                  description: The ProductUID that the device should use.
                device_sn:
                  type: string
                  description: The serial number to assign to the device.
                fleet_uids:
                  type: array
                  items:
                    type: string
                  description: The fleetUIDs to provision the device to.
                  nullable: true
              required:
                - product_uid
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                default: {}
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/fleets/{fleetUID}/devices:
    get:
      tags: ["device"]
      operationId: getProjectFleetDevices
      description: Get Devices of a Fleet within a Project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/fleetUIDParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/tagParam"
        - $ref: "#/components/parameters/serialNumberParam"
        - $ref: "#/components/parameters/notecardFirmwareParam"
        - $ref: "#/components/parameters/locationParam"
        - $ref: "#/components/parameters/hostFirmwareParam"
        - $ref: "#/components/parameters/productUIDQueryParam"
        - $ref: "#/components/parameters/skuParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Device"
                  has_more:
                    type: boolean
                required:
                  - devices
                  - has_more
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/public-keys:
    get:
      tags: ["device"]
      operationId: getProjectDevicePublicKeys
      description: Get Device Public Keys of a Project
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_public_keys:
                    type: array
                    items:
                      type: object
                      properties:
                        uid:
                          type: string
                        key:
                          type: string
                  has_more:
                    type: boolean
                required:
                  - device_public_keys
                  - has_more
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"
      - $ref: "#/components/parameters/deviceUIDParam"

    get:
      tags: ["device"]
      operationId: getDevice
      description: Get Device
      security:
        - api_key: []
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
        default:
          $ref: "#/components/responses/ErrorResponse"

    delete:
      tags: ["device"]
      operationId: deleteProjectDevice
      description: Delete Device
      security:
        - api_key: []
      parameters:
        - name: purge
          in: query
          required: true
          schema:
            type: boolean
            default: false

      responses:
        "204":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/fleets:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"
      - $ref: "#/components/parameters/deviceUIDParam"

    get:
      tags: ["project"]
      operationId: getDeviceFleets
      description: Get Device Fleets
      security:
        - api_key: []
      responses:
        "200":
          $ref: "#/components/responses/FleetsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

    put:
      tags: ["project"]
      operationId: putDeviceFleets
      description: Add Device to Fleets
      security:
        - api_key: []
      requestBody:
        description: >
          The fleets to add to the device.
          Note that the endpoint takes an array of fleetUIDs,
          to facilitate multi-fleet devices.
          Multi-fleet is not yet enabled on all SaaS plans -
          unless it is supported by the SaaS plan of the project,
          passing more than a single fleetUID in the array is an error.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fleet_uids:
                  type: array
                  items:
                    type: string
                  description: The fleetUIDs to add to the device.
              required:
                - fleet_uids
      responses:
        "200":
          $ref: "#/components/responses/FleetsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

    delete:
      tags: ["project"]
      operationId: deleteDeviceFleets
      description: Remove Device from Fleets
      security:
        - api_key: []
      requestBody:
        description: >
          The fleets to remove from the device.
          Note that the endpoint takes an array of fleetUIDs,
          to facilitate multi-fleet devices.
          Multi-fleet is not yet enabled on all SaaS plans -
          unless it is supported by the SaaS plan of the project,
          passing more than a single fleetUID in the array is an error.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fleet_uids:
                  type: array
                  items:
                    type: string
                  description: The fleetUIDs to remove from the device.
              required:
                - fleet_uids
      responses:
        "200":
          $ref: "#/components/responses/FleetsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/public-key:
    get:
      tags: ["device"]
      operationId: getDevicePublicKey
      description: Get Device Public Key
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                  key:
                    type: string

                required:
                  - uid
                  - key
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/latest:
    get:
      tags: ["device"]
      operationId: getDeviceLatest
      description: Get Device Latest Events
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          $ref: "#/components/responses/LatestResponse"

        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/health-log:
    get:
      tags: ["device"]
      operationId: getDeviceHealthLog
      description: Get Device Health Log
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  health_log:
                    type: array
                    items:
                      type: object
                      properties:
                        when:
                          type: string
                          format: date-time
                        alert:
                          type: boolean
                        text:
                          type: string
                      required:
                        - when
                        - alert
                        - text
                required:
                  - health_log
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/enable:
    post:
      tags: ["device"]
      operationId: enableDevice
      description: Enable Device
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/disable:
    post:
      tags: ["device"]
      operationId: disableDevice
      description: Disable Device
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/enable-connectivity-assurance:
    post:
      tags: ["device"]
      operationId: enableDeviceConnectivityAssurance
      description: Enable Connectivity Assurance
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/disable-connectivity-assurance:
    post:
      tags: ["device"]
      operationId: disableDeviceConnectivityAssurance
      description: Disable Connectivity Assurance
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/sessions:
    get:
      tags: ["device"]
      operationId: getDeviceSessions
      description: Get Device Sessions
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
      responses:
        "200":
          $ref: "#/components/responses/SessionResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/events:
    get:
      tags: ["event"]
      operationId: getProjectEvents
      description: Get Events of a Project
      security:
        - api_key: []

      parameters:
        - $ref: "#/components/parameters/projectUIDParam"

        # query params
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/sortByParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/startDateParam"
        - $ref: "#/components/parameters/endDateParam"
        - $ref: "#/components/parameters/dateTypeParam"
        - $ref: "#/components/parameters/systemFilesOnlyParam"
        - $ref: "#/components/parameters/filesQueryParam"
        - $ref: "#/components/parameters/formatParam"
        - $ref: "#/components/parameters/serialNumberFilterParam"
        - $ref: "#/components/parameters/fleetUIDFilterQueryParam"
        - $ref: "#/components/parameters/sessionUIDFilterParam"
        - $ref: "#/components/parameters/eventUIDFilterQueryParam"
        - $ref: "#/components/parameters/selectFieldsParam"

        - name: deviceUIDs
          description: Deprecated.
          in: query
          required: false
          deprecated: true
          schema:
            type: array
            items:
              type: string
        - name: since
          description: Deprecated. 
          in: query
          required: false
          deprecated: true
          schema:
            type: string

      responses:
        "200":
          $ref: "#/components/responses/EventsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/events-cursor:
    get:
      tags: ["event"]
      operationId: getProjectEventsByCursor
      description: Get Events of a Project by cursor
      security:
        - api_key: []

      parameters:
        - $ref: "#/components/parameters/projectUIDParam"

        # query params
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/cursorParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/systemFilesOnlyParam"
        - $ref: "#/components/parameters/filesQueryParam"
        - $ref: "#/components/parameters/fleetUIDQueryParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
      responses:
        "200":
          $ref: "#/components/responses/EventsByCursorResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/events/{eventUID}/route-logs:
    get:
      tags: ["event"]
      operationId: getRouteLogsByEvent
      description: Get Route Logs by Event UID
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/eventUIDParam"
      responses:
        "200":
          $ref: "#/components/responses/RouteLogsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/fleets/{fleetUID}/events:
    get:
      tags: ["event"]
      operationId: getFleetEvents
      description: Get Events of a Fleet
      security:
        - api_key: []

      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/fleetUIDParam"

        # query params
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/sortByParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/startDateParam"
        - $ref: "#/components/parameters/endDateParam"
        - $ref: "#/components/parameters/dateTypeParam"
        - $ref: "#/components/parameters/systemFilesOnlyParam"
        - $ref: "#/components/parameters/filesQueryParam"
        - $ref: "#/components/parameters/formatParam"
        - $ref: "#/components/parameters/serialNumberFilterParam"
        - $ref: "#/components/parameters/sessionUIDFilterParam"
        - $ref: "#/components/parameters/eventUIDFilterQueryParam"
        - $ref: "#/components/parameters/selectFieldsParam"
        - name: deviceUIDs
          description: Deprecated.
          in: query
          required: false
          deprecated: true
          schema:
            type: array
            items:
              type: string
        - name: since
          description: Deprecated. 
          in: query
          required: false
          deprecated: true
          schema:
            type: string

      responses:
        "200":
          $ref: "#/components/responses/EventsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/fleets/{fleetUID}/events-cursor:
    get:
      tags: ["event"]
      operationId: getFleetEventsByCursor
      description: Get Events of a Fleet by cursor
      security:
        - api_key: []

      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/fleetUIDParam"

        # query params
        - $ref: "#/components/parameters/limitParam"
        - $ref: "#/components/parameters/cursorParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/systemFilesOnlyParam"
        - $ref: "#/components/parameters/filesQueryParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/startDateParam"
        - $ref: "#/components/parameters/endDateParam"

      responses:
        "200":
          $ref: "#/components/responses/EventsByCursorResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  # project environment variables
  /v1/projects/{projectUID}/environment_variables:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"

    get:
      description: Get environment variables of a project
      tags: ["project"]
      operationId: getProjectEnvironmentVariables
      security:
        - api_key: []
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

    put:
      description: Put environment variables of a project
      tags: ["project"]
      operationId: putProjectEnvironmentVariables
      security:
        - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentVariables"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/environment_variables/{key}:
    delete:
      description: Delete an environment variable of a project by key
      tags: ["project"]
      operationId: deleteProjectEnvironmentVariable
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The environment variable key to delete.
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/global-transformation/enable:
    post:
      description: Enable the project-level event JSONata transformation
      tags: ["project"]
      operationId: enableGlobalTransformation
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/global-transformation/disable:
    post:
      description: Disable the project-level event JSONata transformation
      tags: ["project"]
      operationId: disableGlobalTransformation
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/global-transformation:
    post:
      description: Set the project-level event JSONata transformation
      tags: ["project"]
      operationId: setGlobalTransformation
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      requestBody:
        description: JSONata expression which will be applied to each event before it is persisted and routed
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JSONata"
      responses:
        "200":
          description: Successful operation
        default:
          $ref: "#/components/responses/ErrorResponse"

  # fleet environment variables
  /v1/projects/{projectUID}/fleets/{fleetUID}/environment_variables:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"
      - $ref: "#/components/parameters/fleetUIDParam"

    get:
      description: Get environment variables of a fleet
      tags: ["project"]
      operationId: getFleetEnvironmentVariables
      security:
        - api_key: []
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    put:
      description: Put environment variables of a fleet
      tags: ["project"]
      operationId: putFleetEnvironmentVariables
      security:
        - api_key: []
      requestBody:
        description: Environment variables to be added to the fleet
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentVariables"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/fleets/{fleetUID}/environment_variables/{key}:
    delete:
      description: Delete environment variables of a fleet
      tags: ["project"]
      operationId: deleteFleetEnvironmentVariable
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/fleetUIDParam"
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The environment variable key to delete.
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/environment_variables:
    parameters:
      - $ref: "#/components/parameters/projectUIDParam"
      - $ref: "#/components/parameters/deviceUIDParam"

    get:
      description: Get environment variables of a device
      tags: ["device"]
      operationId: getDeviceEnvironmentVariables
      security:
        - api_key: []
      responses:
        "200":
          $ref: "#/components/responses/GetDeviceEnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

    put:
      description: Put environment variables of a device
      tags: ["device"]
      operationId: putDeviceEnvironmentVariables
      security:
        - api_key: []
      requestBody:
        description: Environment variables to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentVariables"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/environment_variables/{key}:
    delete:
      description: Delete environment variable of a device
      tags: ["device"]
      operationId: deleteDeviceEnvironmentVariable
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: The environment variable key to delete.
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/products/{productUID}/devices/{deviceUID}/environment_variables_with_pin:
    parameters:
      - $ref: "#/components/parameters/productUIDParam"
      - $ref: "#/components/parameters/deviceUIDParam"

    get:
      description: Get environment variables of a device with device pin
        authorization
      tags: ["device"]
      operationId: getDeviceEnvironmentVariablesByPin
      security:
        - pin: []
      responses:
        "200":
          $ref: "#/components/responses/GetDeviceEnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

    put:
      description: Put environment variables of a device with device pin
        authorization
      tags: ["device"]
      operationId: putDeviceEnvironmentVariablesByPin
      security:
        - pin: []
      requestBody:
        description: Environment variables to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnvironmentVariables"
      responses:
        "200":
          $ref: "#/components/responses/EnvironmentVariablesResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  # note endpoints
  /v1/projects/{projectUID}/devices/{deviceUID}/notes/{notefileID}:
    post:
      tags: ["device"]
      operationId: HandleNoteAdd
      description: Adds a Note to a Notefile, creating the Notefile if it
        doesn't yet exist.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/notefileIDParam"
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
      responses:
        "200":
          description: An empty object means success
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/notes/{notefileID}/{noteID}:
    post:
      tags: ["device"]
      operationId: HandleNoteCreateAdd
      description: Adds a Note to a Notefile, creating the Notefile if it
        doesn't yet exist.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/notefileIDParam"
        - $ref: "#/components/parameters/noteIDParam"
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
      responses:
        "200":
          description: An empty object means success
        default:
          $ref: "#/components/responses/ErrorResponse"

    delete:
      tags: ["device"]
      operationId: HandleNoteDelete
      description: Delete a note from a DB notefile
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/notefileIDParam"
        - $ref: "#/components/parameters/noteIDParam"
      responses:
        "200":
          description: An empty object means success
        default:
          $ref: "#/components/responses/ErrorResponse"

    get:
      tags: ["device"]
      operationId: HandleNoteGet
      description: Get a note from a DB notefile
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/notefileIDParam"
        - $ref: "#/components/parameters/noteIDParam"
        - name: delete
          in: query
          required: false
          schema:
            type: boolean
          description: Whether to delete the note from the DB notefile
        - name: deleted
          in: query
          required: false
          schema:
            type: boolean
          description: Whether to return deleted notes
      responses:
        "200":
          description: The requested note
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    type: object
                    description: The note body
                  payload:
                    type: string
                    description: The note payload
                  time:
                    type: integer
                    description: The time the Note was added to the Notecard or Notehub
        default:
          $ref: "#/components/responses/ErrorResponse"

    put:
      tags: ["device"]
      operationId: HandleNoteUpdate
      description: Update a note in a DB notefile
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/notefileIDParam"
        - $ref: "#/components/parameters/noteIDParam"
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Note"
      responses:
        "200":
          description: An empty object means success
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/notes/{notefileID}/changes:
    get:
      tags: ["device"]
      operationId: HandleNoteChanges
      description: Incrementally retrieve changes within a specific Notefile.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/notefileIDParam"
        - name: tracker
          description: The change tracker ID.
          in: query
          required: false
          schema:
            type: string
        - name: max
          description: The maximum number of Notes to return in the request.
          in: query
          required: false
          schema:
            type: integer
        - name: start
          description: true to reset the tracker to the beginning.
          in: query
          required: false
          schema:
            type: boolean
        - name: stop
          description: true to delete the tracker.
          in: query
          required: false
          schema:
            type: boolean
        - name: deleted
          description: true to return deleted notes.
          in: query
          required: false
          schema:
            type: boolean
        - name: delete
          description: true to delete the notes returned by the request.
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: The note changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: The total number of notes.
                  changes:
                    type: integer
                    description: The number of pending changes in the Notefile.
                  notes:
                    type: object
                    description: An object with a key for each note and a value object with the body of each Note and the time the Note was added.
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/files/changes:
    get:
      tags: ["device"]
      operationId: HandleNotefileChanges
      description: Used to perform queries on a single or multiple files to determine if new Notes are available to read
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - name: tracker
          description: The change tracker ID.
          in: query
          required: false
          schema:
            type: string
        - name: files
          description: One or more files to obtain change information from.
          in: query
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: The notefile changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: The total number of files.
                  changes:
                    type: integer
                    description: The number of pending changes in the Notefile.
                  info:
                    type: object
                    description: An object with a key for each Notefile that matched the request parameters, and value object with the changes and total for each file.
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/files/changes/pending:
    get:
      tags: ["device"]
      operationId: HandleNotefileChangesPending
      description: Returns info about file changes that are pending upload to Notehub or download to the Notecard.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      responses:
        "200":
          description: The notefile pending changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: The total number of files.
                  changes:
                    type: integer
                    description: The number of pending changes in the Notefile.
                  pending:
                    type: boolean
                    description: Whether there are pending changes.
                  info:
                    type: object
                    description: An object with a key for each Notefile that matched the request parameters, and value object with the changes and total for each file.
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/files:
    delete:
      tags: ["device"]
      operationId: HandleNotefileDelete
      description: Deletes Notefiles and the Notes they contain.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  description: One or more files to obtain change information from.
                  type: array
                  items:
                    type: string
      responses:
        "200":
          description: An empty object means success
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/signal:
    post:
      tags: ["device"]
      operationId: HandleNoteSignal
      description: Send a signal from Notehub to a Notecard.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
      requestBody:
        description: Body or payload of singnal to be sent to the device
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Body"
      responses:
        "200":
          description: A status response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    type: boolean
                    description: true if the Notecard is connected to Notehub.
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/monitors:
    get:
      tags: ["monitor"]
      operationId: getMonitors
      description: Get list of defined Monitors
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        "200":
          $ref: "#/components/responses/MonitorsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"
    post:
      tags: ["monitor"]
      operationId: createMonitor
      description: Create a new Monitor
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      requestBody:
        description: Body or payload of monitor to be created
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitor"
      responses:
        "201":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/monitors/{monitorUID}:
    get:
      tags: ["monitor"]
      operationId: getMonitor
      description: Get Monitor
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/monitorUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        default:
          $ref: "#/components/responses/ErrorResponse"
    put:
      tags: ["monitor"]
      operationId: updateMonitor
      description: Update Monitor
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/monitorUIDParam"
      requestBody:
        description: Body or payload of monitor to be created
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Monitor"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: ["monitor"]
      operationId: deleteMonitor
      description: Delete Monitor
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/monitorUIDParam"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/alerts:
    get:
      tags: ["alert"]
      operationId: getAlerts
      description: Get list of defined Alerts
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/monitorUIDQueryParam"
      responses:
        "200":
          $ref: "#/components/responses/AlertsResponse"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/firmware:
    get:
      tags: ["project"]
      operationId: getFirmwareInfo
      description: Get Available Firmware Information
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/productQueryParam"
        - $ref: "#/components/parameters/firmwareTypeQueryParam"
        - $ref: "#/components/parameters/versionQueryParam"
        - $ref: "#/components/parameters/targetQueryParam"
        - $ref: "#/components/parameters/filenameQueryParam"
        - $ref: "#/components/parameters/md5QueryParam"
        - $ref: "#/components/parameters/unpublishedQueryParam"

      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FirmwareInfo"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/dfu/{firmwareType}/history:
    get:
      tags: ["project"]
      operationId: getDeviceDfuHistory
      description: Get device DFU history for host or Notecard firmware
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/firmwareTypeParam"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceDfuHistory"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/devices/{deviceUID}/dfu/{firmwareType}/status:
    get:
      tags: ["project"]
      operationId: getDeviceDfuStatus
      description: Get device DFU history for host or Notecard firmware
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/deviceUIDParam"
        - $ref: "#/components/parameters/firmwareTypeParam"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceDfuStatus"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/dfu/{firmwareType}/history:
    get:
      tags: ["project"]
      operationId: getDevicesDfuHistory
      description: Get host or Notecard DFU history for all devices that match the filter criteria
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/firmwareTypeParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/sortByParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/tagParam"
        - $ref: "#/components/parameters/serialNumberParam"
        - $ref: "#/components/parameters/fleetUIDQueryParam"
        - $ref: "#/components/parameters/notecardFirmwareParam"
        - $ref: "#/components/parameters/locationParam"
        - $ref: "#/components/parameters/hostFirmwareParam"
        - $ref: "#/components/parameters/productUIDQueryParam"
        - $ref: "#/components/parameters/skuParam"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceDfuHistoryPage"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/dfu/{firmwareType}/status:
    get:
      tags: ["project"]
      operationId: getDevicesDfuStatus
      description: Get host or Notecard DFU history for all devices that match the filter criteria
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/firmwareTypeParam"
        - $ref: "#/components/parameters/pageSizeParam"
        - $ref: "#/components/parameters/pageNumParam"
        - $ref: "#/components/parameters/sortByParam"
        - $ref: "#/components/parameters/sortOrderParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/tagParam"
        - $ref: "#/components/parameters/serialNumberParam"
        - $ref: "#/components/parameters/fleetUIDQueryParam"
        - $ref: "#/components/parameters/notecardFirmwareParam"
        - $ref: "#/components/parameters/locationParam"
        - $ref: "#/components/parameters/hostFirmwareParam"
        - $ref: "#/components/parameters/productUIDQueryParam"
        - $ref: "#/components/parameters/skuParam"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceDfuStatusPage"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/projects/{projectUID}/dfu/{firmwareType}/{action}:
    post:
      tags: ["project"]
      operationId: dfuAction 
      description: Update/cancel host or notecard firmware updates
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
        - $ref: "#/components/parameters/firmwareTypeParam"
        - $ref: "#/components/parameters/dfuActionParam"
        - $ref: "#/components/parameters/deviceUIDParamQuery"
        - $ref: "#/components/parameters/tagParam"
        - $ref: "#/components/parameters/serialNumberParam"
        - $ref: "#/components/parameters/fleetUIDQueryParam"
        - $ref: "#/components/parameters/notecardFirmwareParam"
        - $ref: "#/components/parameters/locationParam"
        - $ref: "#/components/parameters/hostFirmwareParam"
        - $ref: "#/components/parameters/productUIDQueryParam"
        - $ref: "#/components/parameters/skuParam"
      requestBody:
        description: Which firmware in the case of an update action 
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DfuActionRequest"
      responses:
        200:
          description: Success
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/repositories:
    post:
        tags: ["repository"]
        operationId: createRepository
        description: Create a new repository 
        security:
            - api_key: []
        requestBody:
            required: true
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/CreateUpdateRepository"
        responses:
            "201":
              description: Repository created successfully
              content:
                application/json:
                  schema:
                    $ref: "#/components/schemas/Repository"
            default:
              $ref: "#/components/responses/ErrorResponse"

  /v1/repositories/{repositoryUID}:
    get:
      tags: ["repository"]
      operationId: getRepository
      description: Get repository information
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/repositoryKey"
      responses:
        "200":
          description: Dataset updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Repository"
        default:
          $ref: "#/components/responses/ErrorResponse"
    put:
      tags: ["repository"]
      operationId: putRepository 
      description: Update a repository
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/repositoryKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUpdateRepository"
      responses:
        "200":
          description: Dataset updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Repository"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
        tags: ["repository"]
        operationId: deleteRepository
        description: Delete a repository
        security:
          - api_key: []
        parameters:
          - $ref: "#/components/parameters/repositoryUIDParam"
          - $ref: "#/components/parameters/repositoryKey"
        responses:
          "200":
            description: Dataset deleted successfully
          default:
            $ref: "#/components/responses/ErrorResponse"

  /v1/repositories/{repositoryUID}/datasets:
    put:
      tags: ["repository"]
      operationId: createRepositoryDataset
      description: Create a new dataset within a repository 
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/repositoryKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DataSet"
      responses:
        "201":
          description: Dataset created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataSet"
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/repositories/{repositoryUID}/datasets/{name}:
    get:
      tags: ["repository"]
      operationId: getRepositoryDataset
      description: Get the details of a dataset
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: '#/components/parameters/datasetNameParam'
        - $ref: "#/components/parameters/repositoryKey"
      responses:
        "200":
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DataSet"
        default:
          $ref: "#/components/responses/ErrorResponse"
    delete:
      tags: ["repository"]
      operationId: deleteRepositoryDataset
      description: Delete a dataset
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/datasetNameParam"
        - $ref: "#/components/parameters/repositoryKey"
      responses:
        "200":
          description: Dataset deleted successfully
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/repositories/{repositoryUID}/sql:
    post:
      tags: ["repository"]
      operationId: queryRepositorySql
      description: Run a raw Clickhouse-compatible SQL statement against the repository's database. Results are returned in CSV format
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/repositoryKey"
        - in: header
          description: Specify the format of the response data. This functions the same as the 
            ClickHouse `FORMAT` clause. Supported values include `CSV`, `JSON`, `JSONEachRow`, 
            `TabSeparated`, and `NDJSON`. If not specified, defaults to `TabSeparated`.
          name: X-ClickHouse-Format
          schema:
            type: string
      requestBody:
        description: Clickhouse-compatible SQL statement
        required: true
        content:
          text/plain:
            schema:
              type: string
      responses:
        "200":
          description: Successful query
          content:
            text/plain:
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/repositories/{repositoryUID}/datasets/{name}/query:
    get:
      tags: ["repository"]
      operationId: queryRepositoryDataset
      description: Query a dataset with support for time ranges, field selection, filtering, and location-based queries
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryKey"
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/datasetNameParam"
        - $ref: "#/components/parameters/datasetStartQueryParam"
        - $ref: "#/components/parameters/datasetEndQueryParam"
        - $ref: "#/components/parameters/datasetSelectQueryParam"
        - $ref: "#/components/parameters/datasetWhereQueryParam"
        - $ref: "#/components/parameters/datasetAggregateWindowQueryParam"
        - $ref: "#/components/parameters/datasetLocationNearQueryParam"
        - $ref: "#/components/parameters/datasetLocationRadiusQueryParam"
        - $ref: "#/components/parameters/datasetLimitQueryParam"
        - $ref: "#/components/parameters/datasetOrderByQueryParam"
        - $ref: "#/components/parameters/datasetDistinctQueryParam"
      responses:
        "200":
          description: Successful query
          content:
            text/csv:
              schema:
                type: string
                format: binary
              example: |
                lat,lon,device,session_began
                42.393125,-71.185015,dev:1234,2024-01-01T12:34:56Z
        default:
          $ref: "#/components/responses/ErrorResponse"

  /v1/repositories/{repositoryUID}/data:
    get:
      tags: ["repository"]
      operationId: getRepositoryData 
      description: Get event and session data from a repository in NDJSON format.
      security:
        - api_key: []
      parameters:
        - $ref: "#/components/parameters/repositoryKey"
        - $ref: "#/components/parameters/repositoryUIDParam"
        - $ref: "#/components/parameters/datasetStartQueryParam"
        - $ref: "#/components/parameters/datasetEndQueryParam"
      responses:
        "200":
          description: Successful request returning NDJSON encoded event and session objects.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        default:
          $ref: "#/components/responses/ErrorResponse"
  
  /v1/projects/{projectUID}/schemas:
    get:
      tags: ["project"]
      operationId: getNotefileSchemas
      summary: Get variable format for a notefile
      parameters:
        - $ref: "#/components/parameters/projectUIDParam"
      responses:
        '200':
          description: List of notefile schema definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotefileSchema'

components:

  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: X-Session-Token
      description: |
        For accessing most endpoints.
        To retrieve the key, see the /auth/login endpoint.

    pin:
      type: apiKey
      in: header
      name: X-Auth-Token
      description: |
        For accessing endpoints by Device pin.

  parameters:
    projectUIDParam:
      name: projectUID
      in: path
      required: true
      schema:
        type: string
      # NOTE: Airnote's Project UID
      example: app:2606f411-dea6-44a0-9743-1130f57d77d8

    productUIDParam:
      name: productUID
      in: path
      required: true
      schema:
        type: string
      example: com.blues.bridge:sensors

    eventUIDParam:
      name: eventUID
      in: path
      required: true
      schema:
        type: string
      example: 4506f411-dea6-44a0-9743-1130f57d7747

    fleetUIDParam:
      name: fleetUID
      in: path
      required: true
      schema:
        type: string

    fleetUIDsParam:
      name: fleetUIDs
      in: query
      required: false
      schema:
        type: array
        items:
          type: string

    deviceTagsParam:
      name: deviceTags
      in: query
      required: false
      schema:
        type: array
        items:
          type: string

    deviceUIDParam:
      name: deviceUID
      in: path
      required: true
      schema:
        type: string
      example: dev:000000000000000
    
    firmwareTypeParam:
      name: firmwareType
      in: path
      required: true
      schema:
        type: string
        enum:
          - host
          - notecard
    
    dfuActionParam:
      name: action 
      in: path
      required: true
      schema:
        type: string
        enum:
          - update
          - cancel

    notefileIDParam:
      name: notefileID
      in: path
      required: true
      schema:
        type: string

    routeUIDParam:
      name: routeUID
      in: path
      required: true
      schema:
        type: string
      example: route:cbd20093cba58392c9f9bbdd0cdeb1a0

    noteIDParam:
      name: noteID
      in: path
      required: true
      schema:
        type: string

    monitorUIDParam:
      name: monitorUID
      in: path
      required: true
      schema:
        type: string
      example: monitor:8bAdf00d-000f-51c-af-01d5eaf00dbad

    repositoryUIDParam:
      name: repositoryUID
      in: path
      required: true
      schema:
        type: string
        example: rid:2606f411-dea6-44a0-9743-1130f57d77d8

    datasetNameParam:
      name: name
      in: path
      required: true
      schema:
        type: string
      description: The name of the data set

    datasetStartQueryParam:
      name: start
      in: query
      required: true
      schema:
        type: string
      description: Start of the time range, as an ISO-8601 date or relative to now (e.g. -1y). Relative dates follow the Postgres INTERVAL format.

    datasetEndQueryParam:
      name: end
      in: query
      required: false
      schema:
        type: string
      description: End of the time range, as an ISO-8601 date or relative to now. If omitted, current time is used.

    datasetSelectQueryParam:
      name: select
      in: query
      required: false
      schema:
        type: string
      description: Comma separated list of fields to include. Supports aggregate functions (avg, sum, min, max, count, most_recent).

    datasetWhereQueryParam:
      name: where
      in: query
      required: false
      schema:
        type: string
      description: Additional filters using boolean logic mini-language (e.g. and.(device.eq.dev:123,temp.gt.100))

    datasetAggregateWindowQueryParam:
      name: aggregate_window
      in: query
      required: false
      schema:
        type: string
      description: Aggregate results into buckets for a time duration, expressed in Postgres INTERVAL format

    datasetLocationNearQueryParam:
      name: location_near
      in: query
      required: false
      schema:
        type: string
        example: 42.393125,-71.185015
      description: Latitude and Longitude for location-based filtering, location_near_radius must also be provided

    datasetLocationRadiusQueryParam:
      name: location_near_radius
      in: query
      required: false
      schema:
        type: integer
      description: Distance from location_near in meters, location_near must also be provided

    datasetLimitQueryParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
      description: Limit the number of results returned

    datasetOrderByQueryParam:
      name: order_by
      in: query
      required: false
      description: Order the results by a field
      schema:
        type: string

    datasetDistinctQueryParam:
      name: distinct
      in: query
      required: false
      schema:
        type: boolean
      description: Return only distinct results

    # querystring parameters
    pageSizeParam:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 50

    pageNumParam:
      name: pageNum
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    deviceUIDParamQuery:
      name: deviceUID
      description: A Device UID.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true

    deviceUIDsParamQuery:
      name: deviceUIDs
      description: An array of Device UIDs.
      in: query
      required: false
      schema:
        type: array
        items:
          type: string

    sortByParam:
      name: sortBy
      in: query
      required: false
      schema:
        type: string
        enum:
          - best_id
          - device_serial
          - device_uid
          - captured
          - modified
          - device_location
          - tower_location
          - triangulated_location
          - best_location
        default: captured

    sortOrderParam:
      name: sortOrder
      in: query
      required: false
      schema:
        type: string
        enum:
          - asc
          - desc
        default: asc

    startDateParam:
      name: startDate
      in: query
      required: false
      description: Unix timestamp
      schema:
        type: integer
        minimum: 0
      # August 10th, 2021
      example: 1628631763

    endDateParam:
      name: endDate
      in: query
      required: false
      description: Unix timestamp
      schema:
        type: integer
        minimum: 0
      # July 15th, 2022
      example: 1657894210

    dateTypeParam:
      name: dateType
      in: query
      required: false
      description: Which date to filter on, either 'captured' or 'uploaded'.  This will apply to the startDate and endDate parameters
      schema:
        type: string
        default: captured
        enum:
        - captured
        - uploaded
      example: uploaded

    cursorParam:
      name: cursor
      in: query
      required: false
      description: >
        A cursor, which can be obtained from the `next_cursor` value from a previous call
        to this endpoint. The results set returned will include this event as its first result
        if the given identifier is actually the UID of an event. If this event UID is not
        found, the parameter is ignored and the results set is the same as if the parameter
        was not included.
      schema:
        type: string

    limitParam:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 50

    systemFilesOnlyParam:
      name: systemFilesOnly
      in: query
      required: false
      schema:
        type: boolean

    fleetUIDQueryParam:
      name: fleetUID
      in: query
      required: false
      schema:
        type: string

    fleetUIDsQueryParam:
      name: fleetUID
      in: query
      required: false
      schema:
        type: array
        items:
          type: string

    filesQueryParam:
      name: files
      in: query
      required: false
      schema:
        type: string
      example: _health.qo, data.qo

    formatParam:
      name: format
      in: query
      required: false
      schema:
        type: string
        enum: [json, csv]
        default: json
      description: Response format (JSON or CSV)

    serialNumberFilterParam:
      name: serialNumber
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
      description: Filter by Serial Number

    fleetUIDFilterQueryParam:
      name: fleetUID
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
      description: Filter by Fleet UID

    sessionUIDFilterParam:
      name: sessionUID
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
      description: Filter by Session UID

    eventUIDFilterQueryParam:
      name: eventUID
      in: query
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
      description: Filter by Event UID

    selectFieldsParam:
      name: selectFields
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated list of fields to select from JSON payload (e.g., "field1,field2.subfield,field3"), this will reflect the columns in the CSV output.

    filenameQueryParam:
      name: filename
      in: query
      required: false
      schema:
        type: string
      example: notecard-7.2.2.16518$20240410043100.bin

    md5QueryParam:
      name: md5
      in: query
      required: false
      schema:
        type: string

    unpublishedQueryParam:
      name: unpublished
      in: query
      required: false
      schema:
        type: boolean

    versionQueryParam:
      name: version
      in: query
      required: false
      schema:
        type: string

    targetQueryParam:
      name: target
      in: query
      required: false
      schema:
        type: string

    firmwareTypeQueryParam:
      name: firmwareType
      in: query
      required: false
      schema:
        type: string

    productUIDQueryParam:
      name: productUID
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    productQueryParam:
      name: product
      in: query
      required: false
      schema:
        type: string

    monitorUIDQueryParam:
      name: monitorUID
      in: query
      required: false
      style: form
      explode: true
      schema:
        type: string

    tagParam:
      name: tag
      in: query
      description: Tag filter
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    serialNumberParam:
      name: serialNumber
      in: query
      description: Serial number filter
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    notecardFirmwareParam:
      name: notecardFirmware
      in: query
      description: Firmware version filter
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    locationParam:
      name: location
      in: query
      description: Location filter
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    hostFirmwareParam:
      name: hostFirmware
      in: query
      description: Host firmware filter
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    skuParam:
      name: sku
      in: query
      description: SKU filter
      required: false
      style: form
      explode: true
      schema:
        type: array
        items:
          type: string

    repositoryKey:
      name: X-Repository-Key
      in: header
      required: true
      schema:
        type: string
      description: The secret key used to access this repository

  responses:
    ErrorResponse:
      description: The response body in case of an API error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    EventsResponse:
      description: The response body from a GET events request.
      headers:
        X-Has-More:
          description: True if there are more events
          schema:
            type: boolean
      content:
        application/json:
          schema:
            type: object
            properties:
              events:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
              has_more:
                type: boolean
                description: True if there are more events
              through:
                type: string
                description: The UID of the last event returned
            required:
              - events
              - has_more
          example:
            events:
              - event: dfa3747d-688b-4250-935b-5dd60354313c
                session: b623132c-6afb-4740-bc39-e3634e38f064
                best_id: My Device
                device: dev:5c0272311928
                sn: My Device
                product: product:com.blues.project.demo
                app: app:218f6217-9f78-432e-9fe0-02ca8b5a216c
                received: 1656011227.006928
                req: note.add
                when: 1656010061
                file: air.qo
                updates: 1
                body:
                  humidity: 40.375
                  pressure: 97705.66
                  temperature: 24.0625
                  voltage: 2.598
                best_location_type: triangulated
                best_location_when: 1652709545
                best_lat: 34.82476372
                best_lon: -83.32261614
                best_location: Atlanta GA
                best_country: US
                best_timezone: America/New_York
                tower_id: 0,0,0,0
                tri_when: 1652709545
                tri_lat: 34.82475372
                tri_lon: -83.32261614
                tri_location: Atlanta GA
                tri_country: US
                tri_timezone: America/New_York
                tri_points: 6
            has_more: true
        text/csv:
          schema:
            type: string
            format: binary
          example: |
            eventUID,deviceUID,when,best_location_type,best_lat,best_lon,body.temperature,body.humidity
            e123456-7890-abcd-ef01-234567890abc,dev:000000000000001,1625097600,gps,37.7749,-122.4194,22.5,45.2
            f234567-8901-bcde-fg12-345678901bcd,dev:000000000000002,1625097660,triangulated,40.7128,-74.0060,24.3,48.7
            g345678-9012-cdef-gh23-456789012cde,dev:000000000000003,1625097720,tower,51.5074,-0.1278,20.1,52.9

    EventsByCursorResponse:
      description: The response body from a GET events by cursor request.
      content:
        application/json:
          schema:
            type: object
            properties:
              events:
                type: array
                items:
                  $ref: "#/components/schemas/Event"
              next_cursor:
                type: string
                description: >
                  The cursor value of the next result, which is intended to be used as the "cursor"
                  parameter value of the next call to this method. An empty string is returned if
                  there are no more results after this results set.
              has_more:
                type: boolean
                description: True if there are more events
            required:
              - events
              - next_cursor
              - has_more
          example:
            events:
              - event: dfa3747d-688b-4250-935b-5dd60354313c
                session: b623132c-6afb-4740-bc39-e3634e38f064
                best_id: My Device
                device: dev:5c0272311928
                sn: My Device
                product: product:com.blues.project.demo
                app: app:218f6217-9f78-432e-9fe0-02ca8b5a216c
                received: 1656011227.006928
                req: note.add
                when: 1656010061
                file: air.qo
                updates: 1
                body:
                  humidity: 40.375
                  pressure: 97705.66
                  temperature: 24.0625
                  voltage: 2.598
                best_location_type: triangulated
                best_location_when: 1652709545
                best_lat: 34.82476372
                best_lon: -83.32261614
                best_location: Atlanta GA
                best_country: US
                best_timezone: America/New_York
                tower_id: 0,0,0,0
                tri_when: 1652709545
                tri_lat: 34.82475372
                tri_lon: -83.32261614
                tri_location: Atlanta GA
                tri_country: US
                tri_timezone: America/New_York
                tri_points: 6
            next_cursor: ""
            has_more: false

    EnvironmentVariablesResponse:
      description: The response body from an environment variables request.
      content:
        application/json:
          schema:
[...]
