openapi: 3.0.3
info:
  contact:
    email: engineering@blues.io
    name: Blues Engineering
    url: 'https://dev.blues.io/support/'
  description: |
    The OpenAPI definition for the Notehub.io API.
  title: Notehub API
  version: 1.2.0
servers:
  - description: Production server
    url: 'https://api.notefile.net'
paths:
  /auth/login:
    post:
      operationId: login
      description: Gets a session token from the API from a username and password.
      requestBody:
        required: true
        content:
          application/json:
            example:
              password: test-password
              username: name@example.com
            schema:
              type: object
              properties:
                password:
                  type: string
                username:
                  type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_token:
                    type: string
        '400':
          description: Bad Request
        '500':
          description: Internal Server Error
      tags:
        - authorization
  /v1/billing-accounts:
    get:
      operationId: getBillingAccounts
      description: Get Billing Accounts accessible by the api_key
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  billing_accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillingAccount'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - billing_account
  '/v1/products/{productUID}/devices/{deviceUID}/environment_variables_with_pin':
    get:
      operationId: getDeviceEnvironmentVariablesByPin
      description: Get environment variables of a device with device pin authorization
      responses:
        '200':
          $ref: '#/components/responses/GetDeviceEnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - pin: []
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/productUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
    put:
      operationId: putDeviceEnvironmentVariablesByPin
      description: Put environment variables of a device with device pin authorization
      requestBody:
        description: Environment variables to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - pin: []
      tags:
        - device
  '/v1/products/{productUID}/ext-devices/{deviceUID}/event':
    post:
      operationId: CreateEventExtDevice
      description: Creates an event using specified webhook
      parameters:
        - $ref: '#/components/parameters/productUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Event Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Event'
      responses:
        '200':
          description: Event Created Successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - external devices
  '/v1/products/{productUID}/ext-devices/{deviceUID}/session/close':
    post:
      operationId: ExtDeviceSessionClose
      description: Closes the session for the specified device if open
      parameters:
        - $ref: '#/components/parameters/productUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Session Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSession'
      responses:
        '200':
          description: Session closed
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - external devices
  '/v1/products/{productUID}/ext-devices/{deviceUID}/session/open':
    post:
      operationId: ExtDeviceSessionOpen
      description: Create a Session for the specified device.  | If a session is currently open it will be closed and a new one opened.
      parameters:
        - $ref: '#/components/parameters/productUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Session Object
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceSession'
      responses:
        '200':
          description: Session Created Successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - external devices
  '/v1/products/{productUID}/project':
    get:
      operationId: getProjectByProduct
      description: Get a Project by ProductUID
      parameters:
        - name: productUID
          in: path
          required: true
          schema:
            type: string
          example: com.blues.airnote
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  /v1/projects:
    get:
      operationId: getProjects
      description: Get Projects accessible by the api_key
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    post:
      operationId: createProject
      description: Create a Project
      requestBody:
        description: Project to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_account_uid:
                  description: |
                    The billing account UID for the project. The caller of the API must be able to create projects within the billing account, otherwise an error will be returned.
                  type: string
                label:
                  description: The label for the project.
                  type: string
              required:
                - label
                - billing_account_uid
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/alerts':
    get:
      operationId: getAlerts
      description: Get list of defined Alerts
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/monitorUIDQueryParam'
      responses:
        '200':
          $ref: '#/components/responses/AlertsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - alert
  '/v1/projects/{projectOrProductUID}/clone':
    post:
      operationId: cloneProject
      description: Clone a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: Project to be cloned
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                billing_account_uid:
                  description: 'The billing account UID for the project. The caller of the API must be able to create projects within the billing account, otherwise an error will be returned.'
                  type: string
                disable_clone_fleets:
                  description: Whether to disallow the cloning of the fleets from the parent project.  Default is false if not specified.
                  type: boolean
                disable_clone_routes:
                  description: Whether to disallow the cloning of the routes from the parent project.  Default is false if not specified.
                  type: boolean
                label:
                  description: The label for the project.
                  type: string
              required:
                - label
                - billing_account_uid
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices':
    get:
      operationId: getProjectDevices
      description: Get Devices of a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDsQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          $ref: '#/components/responses/DevicesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}':
    delete:
      operationId: deleteProjectDevice
      description: Delete Device
      parameters:
        - name: purge
          in: query
          required: true
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
    get:
      operationId: getDevice
      description: Get Device
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/dfu/{firmwareType}/history':
    get:
      operationId: getDeviceDfuHistory
      description: Get device DFU history for host or Notecard firmware
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuHistory'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/dfu/{firmwareType}/status':
    get:
      operationId: getDeviceDfuStatus
      description: Get device DFU history for host or Notecard firmware
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuStatus'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable':
    post:
      operationId: disableDevice
      description: Disable Device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/disable-connectivity-assurance':
    post:
      operationId: disableDeviceConnectivityAssurance
      description: Disable Connectivity Assurance
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable':
    post:
      operationId: enableDevice
      description: Enable Device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/enable-connectivity-assurance':
    post:
      operationId: enableDeviceConnectivityAssurance
      description: Enable Connectivity Assurance
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_hierarchy':
    get:
      operationId: getDeviceEnvironmentHierarchy
      summary: Get environment variable hierarchy for a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successfully retrieved device environment hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
        '404':
          description: Project or device not found
        '500':
          description: Server error
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_variables':
    get:
      operationId: getDeviceEnvironmentVariables
      description: Get environment variables of a device
      responses:
        '200':
          $ref: '#/components/responses/GetDeviceEnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
    put:
      operationId: putDeviceEnvironmentVariables
      description: Put environment variables of a device
      requestBody:
        description: Environment variables to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/environment_variables/{key}':
    delete:
      operationId: deleteDeviceEnvironmentVariable
      description: Delete environment variable of a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - name: key
          in: path
          description: The environment variable key to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/files':
    delete:
      operationId: HandleNotefileDelete
      description: Deletes Notefiles and the Notes they contain.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                files:
                  description: One or more files to obtain change information from.
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/files/changes':
    get:
      operationId: HandleNotefileChanges
      description: Used to perform queries on a single or multiple files to determine if new Notes are available to read
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - name: tracker
          in: query
          description: The change tracker ID.
          required: false
          schema:
            type: string
        - name: files
          in: query
          description: One or more files to obtain change information from.
          required: false
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: The notefile changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  changes:
                    description: The number of pending changes in the Notefile.
                    type: integer
                  info:
                    description: 'An object with a key for each Notefile that matched the request parameters, and value object with the changes and total for each file.'
                    type: object
                  total:
                    description: The total number of files.
                    type: integer
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/files/changes/pending':
    get:
      operationId: HandleNotefileChangesPending
      description: Returns info about file changes that are pending upload to Notehub or download to the Notecard.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: The notefile pending changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  changes:
                    description: The number of pending changes in the Notefile.
                    type: integer
                  info:
                    description: 'An object with a key for each Notefile that matched the request parameters, and value object with the changes and total for each file.'
                    type: object
                  pending:
                    description: Whether there are pending changes.
                    type: boolean
                  total:
                    description: The total number of files.
                    type: integer
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/fleets':
    delete:
      operationId: deleteDeviceFleets
      description: Remove Device from Fleets
      requestBody:
        description: |
          The fleets to remove from the device. Note that the endpoint takes an array of fleetUIDs, to facilitate multi-fleet devices. Multi-fleet is not yet enabled on all SaaS plans - unless it is supported by the SaaS plan of the project, passing more than a single fleetUID in the array is an error.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fleet_uids:
                  description: The fleetUIDs to remove from the device.
                  type: array
                  items:
                    type: string
              required:
                - fleet_uids
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    get:
      operationId: getDeviceFleets
      description: Get Device Fleets
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/deviceUIDParam'
    put:
      operationId: putDeviceFleets
      description: Add Device to Fleets
      requestBody:
        description: |
          The fleets to add to the device. Note that the endpoint takes an array of fleetUIDs, to facilitate multi-fleet devices. Multi-fleet is not yet enabled on all SaaS plans - unless it is supported by the SaaS plan of the project, passing more than a single fleetUID in the array is an error.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fleet_uids:
                  description: The fleetUIDs to add to the device.
                  type: array
                  items:
                    type: string
              required:
                - fleet_uids
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/health-log':
    get:
      operationId: getDeviceHealthLog
      description: Get Device Health Log
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  health_log:
                    type: array
                    items:
                      properties:
                        alert:
                          type: boolean
                        text:
                          type: string
                        when:
                          type: string
                          format: date-time
                      required:
                        - when
                        - alert
                        - text
                      type: object
                required:
                  - health_log
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/latest':
    get:
      operationId: getDeviceLatest
      description: Get Device Latest Events
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          $ref: '#/components/responses/LatestResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}':
    post:
      operationId: HandleNoteAdd
      description: 'Adds a Note to a Notefile, creating the Notefile if it doesn''t yet exist.'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}/{noteID}':
    delete:
      operationId: HandleNoteDelete
      description: Delete a note from a DB notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
    get:
      operationId: HandleNoteGet
      description: Get a note from a DB notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
        - name: delete
          in: query
          description: Whether to delete the note from the DB notefile
          required: false
          schema:
            type: boolean
        - name: deleted
          in: query
          description: Whether to return deleted notes
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The requested note
          content:
            application/json:
              schema:
                type: object
                properties:
                  body:
                    description: The note body
                    type: object
                  payload:
                    description: The note payload
                    type: string
                  time:
                    description: The time the Note was added to the Notecard or Notehub
                    type: integer
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
    post:
      operationId: HandleNoteCreateAdd
      description: 'Adds a Note to a Notefile, creating the Notefile if it doesn''t yet exist.'
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
    put:
      operationId: HandleNoteUpdate
      description: Update a note in a DB notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - $ref: '#/components/parameters/noteIDParam'
      requestBody:
        description: Body or payload of note to be added to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Note'
      responses:
        '200':
          description: An empty object means success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/notes/{notefileID}/changes':
    get:
      operationId: HandleNoteChanges
      description: Incrementally retrieve changes within a specific Notefile.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/notefileIDParam'
        - name: tracker
          in: query
          description: The change tracker ID.
          required: false
          schema:
            type: string
        - name: max
          in: query
          description: The maximum number of Notes to return in the request.
          required: false
          schema:
            type: integer
        - name: start
          in: query
          description: true to reset the tracker to the beginning.
          required: false
          schema:
            type: boolean
        - name: stop
          in: query
          description: true to delete the tracker.
          required: false
          schema:
            type: boolean
        - name: deleted
          in: query
          description: true to return deleted notes.
          required: false
          schema:
            type: boolean
        - name: delete
          in: query
          description: true to delete the notes returned by the request.
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: The note changes object
          content:
            application/json:
              schema:
                type: object
                properties:
                  changes:
                    description: The number of pending changes in the Notefile.
                    type: integer
                  notes:
                    description: An object with a key for each note and a value object with the body of each Note and the time the Note was added.
                    type: object
                  total:
                    description: The total number of notes.
                    type: integer
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/provision':
    post:
      operationId: postProvisionProjectDevice
      description: Provision Device for a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Provision a device to a specific ProductUID
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device_sn:
                  description: The serial number to assign to the device.
                  type: string
                fleet_uids:
                  description: The fleetUIDs to provision the device to.
                  type: array
                  items:
                    type: string
                  nullable: true
                product_uid:
                  description: The ProductUID that the device should use.
                  type: string
              required:
                - product_uid
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                default: {}
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/public-key':
    get:
      operationId: getDevicePublicKey
      description: Get Device Public Key
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                  uid:
                    type: string
                required:
                  - uid
                  - key
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/sessions':
    get:
      operationId: getDeviceSessions
      description: Get Device Sessions
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          $ref: '#/components/responses/SessionResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/{deviceUID}/signal':
    post:
      operationId: HandleNoteSignal
      description: Send a signal from Notehub to a Notecard.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/deviceUIDParam'
      requestBody:
        description: Body or payload of singnal to be sent to the device
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body'
      responses:
        '200':
          description: A status response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    description: true if the Notecard is connected to Notehub.
                    type: boolean
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/devices/public-keys':
    get:
      operationId: getProjectDevicePublicKeys
      description: Get Device Public Keys of a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  device_public_keys:
                    type: array
                    items:
                      properties:
                        key:
                          type: string
                        uid:
                          type: string
                      type: object
                  has_more:
                    type: boolean
                required:
                  - device_public_keys
                  - has_more
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/{action}':
    post:
      operationId: dfuAction
      description: Update/cancel host or notecard firmware updates
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - $ref: '#/components/parameters/dfuActionParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      requestBody:
        description: Which firmware in the case of an update action
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DfuActionRequest'
      responses:
        '200':
          description: Success
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/history':
    get:
      operationId: getDevicesDfuHistory
      description: Get host or Notecard DFU history for all devices that match the filter criteria
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuHistoryPage'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/dfu/{firmwareType}/status':
    get:
      operationId: getDevicesDfuStatus
      description: Get host or Notecard DFU history for all devices that match the filter criteria
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceDfuStatusPage'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/environment_hierarchy':
    get:
      operationId: getProjectEnvironmentHierarchy
      summary: Get environment variable hierarchy for a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successfully retrieved project environment hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
        '404':
          description: Project or device not found
        '500':
          description: Server error
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/environment_variables':
    get:
      operationId: getProjectEnvironmentVariables
      description: Get environment variables of a project
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
    put:
      operationId: putProjectEnvironmentVariables
      description: Put environment variables of a project
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/environment_variables/{key}':
    delete:
      operationId: deleteProjectEnvironmentVariable
      description: Delete an environment variable of a project by key
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - name: key
          in: path
          description: The environment variable key to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/events':
    get:
      operationId: getProjectEvents
      description: Get Events of a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/dateTypeParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/serialNumberFilterParam'
        - $ref: '#/components/parameters/fleetUIDFilterQueryParam'
        - $ref: '#/components/parameters/sessionUIDFilterParam'
        - $ref: '#/components/parameters/eventUIDFilterQueryParam'
        - $ref: '#/components/parameters/selectFieldsParam'
        - name: deviceUIDs
          in: query
          description: Deprecated.
          required: false
          schema:
            type: array
            items:
              type: string
          deprecated: true
        - name: since
          in: query
          description: Deprecated.
          required: false
          schema:
            type: string
          deprecated: true
      responses:
        '200':
          $ref: '#/components/responses/EventsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/events-cursor':
    get:
      operationId: getProjectEventsByCursor
      description: Get Events of a Project by cursor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/fleetUIDQueryParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
      responses:
        '200':
          $ref: '#/components/responses/EventsByCursorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/events/{eventUID}/route-logs':
    get:
      operationId: getRouteLogsByEvent
      description: Get Route Logs by Event UID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/eventUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RouteLog'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/firmware':
    get:
      operationId: getFirmwareInfo
      description: Get Available Firmware Information
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/productQueryParam'
        - $ref: '#/components/parameters/firmwareTypeQueryParam'
        - $ref: '#/components/parameters/versionQueryParam'
        - $ref: '#/components/parameters/targetQueryParam'
        - $ref: '#/components/parameters/filenameQueryParam'
        - $ref: '#/components/parameters/md5QueryParam'
        - $ref: '#/components/parameters/unpublishedQueryParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FirmwareInfo'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/firmware/{firmwareType}/{filename}':
    put:
      operationId: uploadFirmware
      description: Upload firmware binary
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/firmwareTypeParam'
        - name: filename
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: contents of the firmware binary
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareInfo'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets':
    get:
      operationId: getProjectFleets
      description: Get Project Fleets
      responses:
        '200':
          $ref: '#/components/responses/FleetsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
    post:
      operationId: createFleet
      description: Create Fleet
      requestBody:
        description: Fleet to be added
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  description: 'The label, or name,  for the Fleet.'
                  type: string
                smart_rule:
                  $ref: '#/components/schemas/FleetRule'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}':
    delete:
      operationId: deleteFleet
      description: Delete Fleet
      responses:
        '204':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    get:
      operationId: getFleet
      description: Get Fleet
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/fleetUIDParam'
    put:
      operationId: updateFleet
      description: Update Fleet
      requestBody:
        description: Fleet details to update
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                addDevices:
                  description: List of DeviceUIDs to add to fleet
                  type: array
                  items:
                    type: string
                label:
                  description: The label for the Fleet.
                  type: string
                removeDevices:
                  description: List of DeviceUIDs to remove from fleet
                  type: array
                  items:
                    type: string
                smart_rule:
                  $ref: '#/components/schemas/FleetRule'
                watchdog_mins:
                  description: A watchdog timer is used to generate an event every N minutes of inactivity. 0 means no watchdog
                  type: integer
                  format: int64
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fleet'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/devices':
    get:
      operationId: getProjectFleetDevices
      description: Get Devices of a Fleet within a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/tagParam'
        - $ref: '#/components/parameters/serialNumberParam'
        - $ref: '#/components/parameters/notecardFirmwareParam'
        - $ref: '#/components/parameters/locationParam'
        - $ref: '#/components/parameters/hostFirmwareParam'
        - $ref: '#/components/parameters/productUIDQueryParam'
        - $ref: '#/components/parameters/skuParam'
      responses:
        '200':
          $ref: '#/components/responses/DevicesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - device
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_hierarchy':
    get:
      operationId: getFleetEnvironmentHierarchy
      summary: Get environment variable hierarchy for a device
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
      responses:
        '200':
          description: Successfully retrieved fleet environment hierarchy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnvTreeJsonNode'
        '404':
          description: Project or device not found
        '500':
          description: Server error
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_variables':
    get:
      operationId: getFleetEnvironmentVariables
      description: Get environment variables of a fleet
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
      - $ref: '#/components/parameters/fleetUIDParam'
    put:
      operationId: putFleetEnvironmentVariables
      description: Put environment variables of a fleet
      requestBody:
        description: Environment variables to be added to the fleet
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvironmentVariables'
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/environment_variables/{key}':
    delete:
      operationId: deleteFleetEnvironmentVariable
      description: Delete environment variables of a fleet
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - name: key
          in: path
          description: The environment variable key to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/EnvironmentVariablesResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events':
    get:
      operationId: getFleetEvents
      description: Get Events of a Fleet
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/sortByParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/dateTypeParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/formatParam'
        - $ref: '#/components/parameters/serialNumberFilterParam'
        - $ref: '#/components/parameters/sessionUIDFilterParam'
        - $ref: '#/components/parameters/eventUIDFilterQueryParam'
        - $ref: '#/components/parameters/selectFieldsParam'
        - name: deviceUIDs
          in: query
          description: Deprecated.
          required: false
          schema:
            type: array
            items:
              type: string
          deprecated: true
        - name: since
          in: query
          description: Deprecated.
          required: false
          schema:
            type: string
          deprecated: true
      responses:
        '200':
          $ref: '#/components/responses/EventsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/fleets/{fleetUID}/events-cursor':
    get:
      operationId: getFleetEventsByCursor
      description: Get Events of a Fleet by cursor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/fleetUIDParam'
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
        - $ref: '#/components/parameters/sortOrderParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
      responses:
        '200':
          $ref: '#/components/responses/EventsByCursorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - event
  '/v1/projects/{projectOrProductUID}/global-transformation':
    post:
      operationId: setGlobalTransformation
      description: Set the project-level event JSONata transformation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: JSONata expression which will be applied to each event before it is persisted and routed
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JSONata'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/global-transformation/disable':
    post:
      operationId: disableGlobalTransformation
      description: Disable the project-level event JSONata transformation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/global-transformation/enable':
    post:
      operationId: enableGlobalTransformation
      description: Enable the project-level event JSONata transformation
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/members':
    get:
      operationId: getProjectMembers
      description: Get Project Members
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  members:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProjectMember'
                required:
                  - members
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
  '/v1/projects/{projectOrProductUID}/monitors':
    get:
      operationId: getMonitors
      description: Get list of defined Monitors
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          $ref: '#/components/responses/MonitorsResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - monitor
    post:
      operationId: createMonitor
      description: Create a new Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: Body or payload of monitor to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMonitor'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - monitor
  '/v1/projects/{projectOrProductUID}/monitors/{monitorUID}':
    delete:
      operationId: deleteMonitor
      description: Delete Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/monitorUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - monitor
    get:
      operationId: getMonitor
      description: Get Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/monitorUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - monitor
    put:
      operationId: updateMonitor
      description: Update Monitor
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/monitorUIDParam'
      requestBody:
        description: Body or payload of monitor to be created
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Monitor'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - monitor
  '/v1/projects/{projectOrProductUID}/products':
    get:
      operationId: getProjectProducts
      description: Get Products within a Project
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  products:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    parameters:
      - $ref: '#/components/parameters/projectOrProductUIDParam'
    post:
      operationId: createProduct
      description: Create Product within a Project
      requestBody:
        description: Product to be created
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_provision_fleets:
                  type: array
                  items:
                    type: string
                disable_devices_by_default:
                  description: 'If `true`, devices provisioned to this product will be automatically disabled by default.'
                  type: boolean
                label:
                  description: The label for the Product.
                  type: string
                product_uid:
                  description: The requested uid for the Product. Will be prefixed with the user's reversed email.
                  type: string
              required:
                - product_uid
                - label
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/routes':
    get:
      operationId: getRoutes
      description: Get all Routes within a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                - disabled: false
                  label: success route
                  modified: '2020-03-09T17:58:37Z'
                  type: http
                  uid: 'route:8d65a087d5d290ce5bdf03aeff2becc0'
                - disabled: false
                  label: failing route
                  modified: '2020-03-09T17:59:15Z'
                  type: http
                  uid: 'route:a9eaad31d5cee8d01a42762f71fb777a'
                - disabled: true
                  label: disabled route
                  modified: '2020-03-09T17:59:44Z'
                  type: http
                  uid: 'route:02ddc0e6e236c2a7e482da62047229ad'
                - disabled: false
                  label: Proxy Route
                  modified: '2020-03-09T17:58:36Z'
                  type: proxy
                  uid: 'route:0ac565deb7b478a250bb82348b9cfdd4'
                - disabled: false
                  label: Myjsonlive Webtest
                  modified: '2020-03-09T17:58:35Z'
                  type: proxy
                  uid: 'route:fb1b9e0aba1bf030311ba2c3c1e3efd7'
                - disabled: false
                  label: Myjsonlive Echo
                  modified: '2020-03-09T17:58:34Z'
                  type: proxy
                  uid: 'route:7804818f84a3be6193e14d804fe7fca7'
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserDbRoute'
                minItems: 0
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - route
    post:
      operationId: createRoute
      description: Create Route within a Project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      requestBody:
        description: Route to be Created
        required: true
        content:
          application/json:
            example: |
              {
                "label": "Route Label",
                "type":"http",
                "http": {
                  "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                  "throttle_ms": 100,
                  "url": "http://route.url"
                }
              }
            schema:
              $ref: '#/components/schemas/NotehubRoute'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                disabled: 'false'
                http:
                  disable_http_headers: false
                  filter:
                    system_notefiles: false
                    type: ''
                  fleets:
                    - 'fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d'
                  http_headers: null
                  throttle_ms: 100
                  timeout: 0
                  transform: {}
                  url: 'http://route.url'
                label: Route Label
                modified: '2020-03-09T17:59:44Z'
                type: http
                uid: 'route:8d65a087d5d290ce5bdf03aeff2becc0'
              schema:
                $ref: '#/components/schemas/NotehubRoute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - route
  '/v1/projects/{projectOrProductUID}/routes/{routeUID}':
    delete:
      operationId: deleteRoute
      description: Delete single route within a project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                default: {}
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - route
    get:
      operationId: getRoute
      description: Get single route within a project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example:
                disabled: 'false'
                http:
                  disable_http_headers: false
                  filter:
                    system_notefiles: false
                    type: ''
                  fleets:
                    - 'fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d'
                  http_headers: null
                  throttle_ms: 100
                  timeout: 0
                  transform: {}
                  url: 'http://route.url'
                label: Route Label
                modified: '2020-03-09T17:59:44Z'
                type: http
                uid: 'route:8d65a087d5d290ce5bdf03aeff2becc0'
              schema:
                $ref: '#/components/schemas/NotehubRoute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - route
    put:
      operationId: updateRoute
      description: Update route by UID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
      requestBody:
        description: Route settings to be updated
        required: true
        content:
          application/json:
            example: |
              {
                "http" {
                  "filter": {
                    "type": "include",
                    "system_notefiles": true,
                    "files": ["somefile.qo"],
                  },
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                },
              }
            schema:
              $ref: '#/components/schemas/NotehubRoute'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              example: |
                {
                  "uid": "route:8d65a087d5d290ce5bdf03aeff2becc0",
                  "label": "Route Label",
                  "type": "http",
                  "modified": "2020-03-09T17:59:44Z",
                  "disabled": "false",
                  "http":
                    {
                    "fleets": ["fleet:1042ddc5-3b2c-4cec-b1fb-d3040538094d"],
                    "filter": {
                      "type": "include",
                      "system_notefiles": true,
                      "files": ["somefile.qo"],
                    },
                  "transform": {},
                  "throttle_ms": 50,
                  "url": "http://new-route.url",
                  "http_headers": null,
                  "disable_http_headers": false,
                  "timeout": 0
                }
              schema:
                $ref: '#/components/schemas/NotehubRoute'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - route
  '/v1/projects/{projectOrProductUID}/routes/{routeUID}/route-logs':
    get:
      operationId: getRouteLogsByRoute
      description: Get Route Logs by Route UID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/routeUIDParam'
        - $ref: '#/components/parameters/pageSizeParam'
        - $ref: '#/components/parameters/pageNumParam'
        - $ref: '#/components/parameters/deviceUIDParamQuery'
        - $ref: '#/components/parameters/routeLogsSortByParam'
        - $ref: '#/components/parameters/routeLogsSortOrderParam'
        - $ref: '#/components/parameters/startDateParam'
        - $ref: '#/components/parameters/endDateParam'
        - $ref: '#/components/parameters/systemFilesOnlyParam'
        - $ref: '#/components/parameters/mostRecentOnlyParam'
        - $ref: '#/components/parameters/filesQueryParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RouteLog'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - route
  '/v1/projects/{projectOrProductUID}/schemas':
    get:
      operationId: getNotefileSchemas
      summary: Get variable format for a notefile
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: List of notefile schema definitions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NotefileSchema'
      tags:
        - project
  '/v1/projects/{projectOrProductUID}/webhooks':
    get:
      operationId: GetWebhooks
      description: Retrieves all webhooks for the specified project
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  webhooks:
                    type: array
                    items:
                      $ref: '#/components/schemas/WebhookSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - webhook
  '/v1/projects/{projectOrProductUID}/webhooks/{webhookUID}':
    delete:
      operationId: DeleteWebhook
      description: Deletes the specified webhook
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      responses:
        '200':
          description: Webhook deleted successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - webhook
    get:
      operationId: GetWebhook
      description: Retrieves the configuration settings for the specified webhook
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      responses:
        '200':
          description: Webhook settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSettings'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - webhook
    post:
      operationId: CreateWebhook
      description: Creates a webhook for the specified product with the given name. The name | must be unique within the project.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      requestBody:
        required: true
        content:
          application/json:
            example:
              settings:
                disabled: false
                id: Abc_123-2646f411-dc56-44a0-9743-4130f47a74h8
                transform: '{"device":body.end_device_ids.dev_eui,"sn":body.end_device_ids.device_id,"body":body.uplink_message.decoded_payload,"details":body}'
            schema:
              $ref: '#/components/schemas/WebhookSettings'
      responses:
        '200':
          description: Webhook created successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - webhook
    put:
      operationId: UpdateWebhook
      description: Updates the configuration settings for the specified webhook. | Webhook will be created if it does not exist. Update body will completely replace the existing settings.
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
        - $ref: '#/components/parameters/webhookUIDParam'
      requestBody:
        required: true
        content:
          application/json:
            example:
              disabled: false
              transform: '{"device":body.end_device_ids.dev_eui,"sn":body.end_device_ids.device_id,"body":body.uplink_message.decoded_payload,"details":body}'
            schema:
              $ref: '#/components/schemas/WebhookSettings'
      responses:
        '200':
          description: Webhook updated successfully
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - webhook
  '/v1/projects/{projectUID}':
    delete:
      operationId: deleteProject
      description: Delete a Project by ProjectUID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
    get:
      operationId: getProject
      description: Get a Project by ProjectUID
      parameters:
        - $ref: '#/components/parameters/projectOrProductUIDParam'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
        - api_key: []
      tags:
        - project
components:
  parameters:
    cursorParam:
      description: |
        A cursor, which can be obtained from the `next_cursor` value from a previous call to this endpoint. The results set returned will include this event as its first result if the given identifier is actually the UID of an event. If this event UID is not found, the parameter is ignored and the results set is the same as if the parameter was not included.
      in: query
      name: cursor
      required: false
      schema:
        type: string
    datasetAggregateWindowQueryParam:
      description: 'Aggregate results into buckets for a time duration, expressed in Postgres INTERVAL format'
      in: query
      name: aggregate_window
      required: false
      schema:
        type: string
    datasetDistinctQueryParam:
      description: Return only distinct results
      in: query
      name: distinct
      required: false
      schema:
        type: boolean
    datasetEndQueryParam:
      description: 'End of the time range, as an ISO-8601 date or relative to now. If omitted, current time is used.'
      in: query
      name: end
      required: false
      schema:
        type: string
    datasetLimitQueryParam:
      description: Limit the number of results returned
      in: query
      name: limit
      required: false
      schema:
        type: integer
    datasetLocationNearQueryParam:
      description: 'Latitude and Longitude for location-based filtering, location_near_radius must also be provided'
      in: query
      name: location_near
      required: false
      schema:
        type: string
        example: '42.393125,-71.185015'
    datasetLocationRadiusQueryParam:
      description: 'Distance from location_near in meters, location_near must also be provided'
      in: query
      name: location_near_radius
      required: false
      schema:
        type: integer
    datasetNameParam:
      description: The name of the data set
      in: path
      name: name
      required: true
      schema:
        type: string
    datasetOrderByQueryParam:
      description: Order the results by a field
      in: query
      name: order_by
      required: false
      schema:
        type: string
    datasetSelectQueryParam:
      description: 'Comma separated list of fields to include. Supports aggregate functions (avg, sum, min, max, count, most_recent).'
      in: query
      name: select
      required: false
      schema:
        type: string
    datasetStartQueryParam:
      description: 'Start of the time range, as an ISO-8601 date or relative to now (e.g. -1y). Relative dates follow the Postgres INTERVAL format.'
      in: query
      name: start
      required: true
      schema:
        type: string
    datasetWhereQueryParam:
      description: 'Additional filters using boolean logic mini-language (e.g. and.(device.eq.dev:123,temp.gt.100))'
      in: query
      name: where
      required: false
      schema:
        type: string
    dateTypeParam:
      description: 'Which date to filter on, either ''captured'' or ''uploaded''.  This will apply to the startDate and endDate parameters'
      example: uploaded
      in: query
      name: dateType
      required: false
      schema:
        type: string
        default: captured
        enum:
          - captured
          - uploaded
    deviceTagsParam:
      in: query
      name: deviceTags
      required: false
      schema:
        type: array
        items:
          type: string
    deviceUIDParam:
      example: 'dev:000000000000000'
      in: path
      name: deviceUID
      required: true
      schema:
        type: string
    deviceUIDParamQuery:
      description: A Device UID.
      explode: true
      in: query
      name: deviceUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    deviceUIDsParamQuery:
      description: An array of Device UIDs.
      in: query
      name: deviceUIDs
      required: false
      schema:
        type: array
        items:
          type: string
    dfuActionParam:
      in: path
      name: action
      required: true
      schema:
        type: string
        enum:
          - update
          - cancel
    endDateParam:
      description: 'End date for filtering results, specified as a Unix timestamp'
      example: 1657894210
      in: query
      name: endDate
      required: false
      schema:
        type: integer
        minimum: 0
    eventUIDFilterQueryParam:
      description: Filter by Event UID
      explode: true
      in: query
      name: eventUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    eventUIDParam:
      example: 4506f411-dea6-44a0-9743-1130f57d7747
      in: path
      name: eventUID
      required: true
      schema:
        type: string
    filenameQueryParam:
      example: notecard-7.2.2.16518$20240410043100.bin
      in: query
      name: filename
      required: false
      schema:
        type: string
    filesQueryParam:
      example: '_health.qo, data.qo'
      in: query
      name: files
      required: false
      schema:
        type: string
    firmwareTypeParam:
      in: path
      name: firmwareType
      required: true
      schema:
        type: string
        enum:
          - host
          - notecard
    firmwareTypeQueryParam:
      in: query
      name: firmwareType
      required: false
      schema:
        type: string
    fleetUIDFilterQueryParam:
      description: Filter by Fleet UID
      explode: true
      in: query
      name: fleetUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    fleetUIDParam:
      in: path
      name: fleetUID
      required: true
      schema:
        type: string
    fleetUIDQueryParam:
      in: query
      name: fleetUID
      required: false
      schema:
        type: string
    fleetUIDsParam:
      in: query
      name: fleetUIDs
      required: false
      schema:
        type: array
        items:
          type: string
    fleetUIDsQueryParam:
      in: query
      name: fleetUID
      required: false
      schema:
        type: array
        items:
          type: string
    formatParam:
      description: Response format (JSON or CSV)
      in: query
      name: format
      required: false
      schema:
        type: string
        default: json
        enum:
          - json
          - csv
    hostFirmwareParam:
      description: Host firmware filter
      explode: true
      in: query
      name: hostFirmware
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    limitParam:
      in: query
      name: limit
      required: false
      schema:
        type: integer
        default: 50
        minimum: 1
    locationParam:
      description: Location filter
      explode: true
      in: query
      name: location
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    md5QueryParam:
      in: query
      name: md5
      required: false
      schema:
        type: string
    monitorUIDParam:
      example: 'monitor:8bAdf00d-000f-51c-af-01d5eaf00dbad'
      in: path
      name: monitorUID
      required: true
      schema:
        type: string
    monitorUIDQueryParam:
      explode: true
      in: query
      name: monitorUID
      required: false
      schema:
        type: string
      style: form
    mostRecentOnlyParam:
      in: query
      name: mostRecentOnly
      required: false
      schema:
        type: boolean
    notecardFirmwareParam:
      description: Firmware version filter
      explode: true
      in: query
      name: notecardFirmware
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    notefileIDParam:
      in: path
      name: notefileID
      required: true
      schema:
        type: string
    noteIDParam:
      in: path
      name: noteID
      required: true
      schema:
        type: string
    pageNumParam:
      in: query
      name: pageNum
      required: false
      schema:
        type: integer
        default: 1
        minimum: 1
    pageSizeParam:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        default: 50
        maximum: 10000
        minimum: 1
    productQueryParam:
      in: query
      name: product
      required: false
      schema:
        type: string
    productUIDParam:
      example: 'com.blues.bridge:sensors'
      in: path
      name: productUID
      required: true
      schema:
        type: string
    productUIDQueryParam:
      explode: true
      in: query
      name: productUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    projectOrProductUIDParam:
      example: 'app:2606f411-dea6-44a0-9743-1130f57d77d8'
      in: path
      name: projectOrProductUID
      required: true
      schema:
        type: string
    repositoryKey:
      description: The secret key used to access this repository
      in: header
      name: X-Repository-Key
      required: true
      schema:
        type: string
    repositoryUIDParam:
      in: path
      name: repositoryUID
      required: true
      schema:
        type: string
        example: 'rid:2606f411-dea6-44a0-9743-1130f57d77d8'
    routeLogsSortByParam:
      in: query
      name: sortBy
      required: false
      schema:
        type: string
        default: date
        enum:
          - date
          - event
    routeLogsSortOrderParam:
      in: query
      name: sortOrder
      required: false
      schema:
        type: string
        default: desc
        enum:
          - asc
          - desc
    routeUIDParam:
      example: 'route:cbd20093cba58392c9f9bbdd0cdeb1a0'
      in: path
      name: routeUID
      required: true
      schema:
        type: string
    selectFieldsParam:
      description: 'Comma-separated list of fields to select from JSON payload (e.g., "field1,field2.subfield,field3"), this will reflect the columns in the CSV output.'
      in: query
      name: selectFields
      required: false
      schema:
        type: string
    serialNumberFilterParam:
      description: Filter by Serial Number
      explode: true
      in: query
      name: serialNumber
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    serialNumberParam:
      description: Serial number filter
      explode: true
      in: query
      name: serialNumber
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    sessionUIDFilterParam:
      description: Filter by Session UID
      explode: true
      in: query
      name: sessionUID
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    skuParam:
      description: SKU filter
      explode: true
      in: query
      name: sku
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    sortByParam:
      in: query
      name: sortBy
      required: false
      schema:
        type: string
        default: captured
        enum:
          - best_id
          - device_serial
          - device_uid
          - captured
          - modified
          - device_location
          - tower_location
          - triangulated_location
          - best_location
    sortOrderParam:
      in: query
      name: sortOrder
      required: false
      schema:
        type: string
        default: asc
        enum:
          - asc
          - desc
    startDateParam:
      description: 'Start date for filtering results, specified as a Unix timestamp'
      example: 1628631763
      in: query
      name: startDate
      required: false
      schema:
        type: integer
        minimum: 0
    systemFilesOnlyParam:
      in: query
      name: systemFilesOnly
      required: false
      schema:
        type: boolean
    tagParam:
      description: Tag filter
      explode: true
      in: query
      name: tag
      required: false
      schema:
        type: array
        items:
          type: string
      style: form
    targetQueryParam:
      in: query
      name: target
      required: false
      schema:
        type: string
    unpublishedQueryParam:
      in: query
      name: unpublished
      required: false
      schema:
        type: boolean
    versionQueryParam:
      in: query
      name: version
      required: false
      schema:
        type: string
    webhookUIDParam:
      description: Webhook UID
      in: path
      name: webhookUID
      required: true
      schema:
        type: string
        example: Abc_123-2646f411-dc56-44a0-9743-4130f47a74h8
  schemas:
    Alert:
      type: object
      properties:
        alert_source:
          description: The source of the alert
          type: string
          enum:
            - app
            - device
        created_at:
          description: The time the alert was created
          type: integer
        data:
          type: array
          items:
            properties:
              alert_source:
                description: The source of the alert
                type: string
                enum:
                  - app
                  - device
              source:
                description: The UID of the source of the alert
                type: string
              source_type:
                description: The type of source.
                type: string
                enum:
                  - event
              source_uid:
                description: The UID of the source of the alert
                type: string
              value:
                description: The value that triggered the alert
                type: number
              when:
                description: The time the alert was created
                type: string
            type: object
        device_uid:
          description: Device UID
          type: string
        field_name:
          description: The field name that triggered the alert
          type: string
        monitor_name:
          description: Monitor Name
          type: string
        monitor_type:
          description: The type of monitor that triggered the alert
          type: string
          enum:
            - event
            - device
        monitor_uid:
          description: Monitor UID
          type: string
        notifications:
          type: array
          items:
            properties:
              notification_type:
                description: The type of notification
                type: string
                enum:
                  - email
                  - slack
              recipients:
                description: The recipients of the notification
                type: string
              status:
                description: The status of the notification
                type: number
            type: object
        resolved:
          description: 'If true, the alert has been resolved'
          type: boolean
        source:
          description: The UID of the source of the alert
          type: string
        uid:
          description: Alert UID
          type: string
        value:
          description: The value that triggered the alert
          type: number
        version:
          description: The version of the alert
          type: integer
    AnalyticsEventsData:
      type: object
      properties:
        events:
          type: integer
          example: 42
        period:
          type: string
          format: date-time
          example: '2025-07-23T00:00:00Z'
        platform_events:
          type: integer
          example: 15
    AnalyticsEventsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsEventsData'
    AnalyticsRouteLogsData:
      type: object
      properties:
        failed_routes:
          type: integer
          example: 4
        period:
          type: string
          format: date-time
          example: '2025-07-23T00:00:00Z'
        successful_routes:
          type: integer
          example: 38
        total_routes:
          type: integer
          example: 42
    AnalyticsRouteLogsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/AnalyticsRouteLogsData'
    AnalyticsSessionsData:
      type: object
      properties:
        period:
          type: string
          format: date-time
          example: '2025-07-23T00:00:00Z'
        sessions:
          type: integer
          example: 12
        total_bytes:
          type: integer
          example: 1048576
        unique_devices:
          type: integer
          example: 8
    AnalyticsSessionsResponse:
      type: object
      properties:
        data:
[...]
