{{! TS type for a MODEL property. Inline enums render as literal unions. }}{{#isArray}}{{#items}}{{#isEnum}}({{/isEnum}}{{>partial_ts_type}}{{#isEnum}}){{/isEnum}}{{/items}}[]{{/isArray}}{{^isArray}}{{#isMap}}{ [key: string]: {{#items}}{{>partial_ts_type}}{{/items}} }{{/isMap}}{{^isMap}}{{#isEnum}}{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}} | {{/-last}}{{/enumVars}}{{/allowableValues}}{{/isEnum}}{{^isEnum}}{{>partial_ts_scalar}}{{/isEnum}}{{/isMap}}{{/isArray}}